<!-- hero  -->
<app-hero-home-v2></app-hero-home-v2>

<!-- counter stats -->
<app-counter-home-v2></app-counter-home-v2>

<!-- Why  us -->
<app-why-us-home-v2></app-why-us-home-v2>


<!-- lessons section -->
<app-lessons-home-v2 [categories]="universities">
</app-lessons-home-v2>

<!-- featured courses -->
<app-featured-courses-home-v2 [courses]="featuredCourses">
</app-featured-courses-home-v2>
<!-- smart courses -->
<!-- smart courses (doctors) -->
<app-smart-courses-home-v2>
</app-smart-courses-home-v2>



<!-- best selling courses -->
<app-best-selling-home-v2 [bestSellingCourses]="bestSellingCourses"></app-best-selling-home-v2>


<!-- testimonials  -->
<app-testimonial-home-v2></app-testimonial-home-v2>
<!--  footer -->
<app-footer-home-v2></app-footer-home-v2>