<!-- hero  -->
<section class="hero">
  <div class="overlay"></div>
  <div class="container">



    <!--  copy  text-->
    <div class="hero-copy">
      <h1 class="hero-title">
        تجربة تعليمية مصممة<br>
        <span class="em">خصيصاً <span class="hero-p">لك</span>
          <img class="underline-img" src="../../../assets/img/home-two/Vector 6.png" alt="">
        </span>
        <img class="scribble" src="../../../assets/img/home-two/Vector 7.png" alt="">
      </h1>

      <p class="hero-sub">📚 دروس مباشرة ودورات تدريبية بجودة عالية</p>
      <a href="#" class="btn btn-pill">ابدأ الآن</a>
    </div>


    <!-- images -->
    <div class="students">
      <div class="card-round">
        <img src="../../../assets/img/home-two/student3.png" alt="Student">
      </div>
      <div class="card-circ">
        <img src="../../../assets/img/home-two/student4.png" alt="Student">
      </div>

      <div class="card-round card-mid-circ" style="background:#ffe29b;">
        <img src="../../../assets/img/home-two/student1.png" alt="Student">
      </div>
      <div class="card-round">
        <img src="../../../assets/img/home-two/student2.png" alt="Student" style="background:rgb(245, 195, 98);">
      </div>

    </div>

  </div>
</section>

<!-- counter stats -->
<section class="stats my-5">
  <div class="container">
    <div class="stats-pill text-white p-4 p-md-5 shadow-sm">
      <div class="row row-cols-1 row-cols-md-4 g-0 text-center">

        <div class="col stat-item">
          <div class="stat-number">50</div>
          <div class="stat-text">دورة تدريبية<br>متاحة</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number">2000</div>
          <div class="stat-text">طالب نشط على<br>المنصة</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number">150</div>
          <div class="stat-text">معلم وخبير<br>معتمد</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number">10</div>
          <div class="stat-text">تغطي مختلف<br>المجالات</div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- Why  us -->
<section class="why py-5 py-lg-6">
  <div class="container py-5">
    <div class="row g-4 align-items-center">
      <div class="col-lg-5">
        <p class="why-kicker mb-2">…تعلّم بطريقة أذكى</p>
        <h2 class="why-title mb-3">
          منصة تعليمية مبتكرة… تفتح لك<br>
          أبواب المعرفة بأسلوب عصري
        </h2>
        <p class="why-text mb-4">
          نصمم لك تجربة تعلّم شخصية تناسب احتياجاتك وتدعم أهدافك، سواء كنت طالبًا
          تسعى لتقوية مهاراتك، أو معلمًا يبحث عن أسلوب أكثر تفاعلاً مع طلابه.
          في منصتنا ستجد الأدوات الحديثة لتطوير قدراتك وصناعة مستقبل أفضل،
          مع محتوى متنوع.
        </p>
        <a href="#" class="btn btn-pill px-4">ابدأ الآن</a>
      </div>
      <div class="col-lg-7">
        <div class="row g-4">


          <div class="col-md-6">
            <div class="feature-card corners tl-gold ">
              <div class="d-flex flex-column  ">
                <div class="feat-icon mb-3">
                  <img src="../../../assets/img/home-two/icon2.svg" alt="icon">
                </div>
                <h5 class="feature-title mb-3">تعلّم مباشر ومسجل</h5>
                <p class="feature-home-text mb-0">
                  اختر الطريقة التي تناسبك بين الجلسات الحيّة والمحتوى المسجّل المتاح في أي وقت
                </p>
              </div>


            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-card corner  tl-blue ">
              <div class="d-flex flex-column  ">
                <div class="feat-icon  mb-3">

                  <img src="../../../assets/img/home-two/icon1.svg" alt="icon">
                </div>
                <h5 class="feature-title mb-3">مدربين محترفين</h5>
                <p class="feature-home-text mb-0">
                  تعلّم على يد خبراء يمتلكون خبرة عملية وأكاديمية عالية
                </p>
              </div>


            </div>
          </div>




          <div class="col-md-6">
            <div class="feature-card corners tl-w-blue ">
              <div class="d-flex flex-column  ">
                <div class="feat-icon mb-3">
                  <img src="../../../assets/img/home-two/icon4.svg" alt="icon">
                </div>
                <h5 class="feature-title mb-3">شهادات معتمدة</h5>
                <p class="feature-home-text mb-0">
                  احصل على شهادة موثوقة تثبت مهاراتك وتدعم مسارك المهني
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-card corners tl-gray ">
              <div class="d-flex flex-column  ">
                <div class="feat-icon mb-3">
                  <img src="../../../assets/img/home-two/icon3.svg" alt="icon">
                </div>
                <h5 class="feature-title mb-3">ذكاء اصطناعي لتحسين التعلّم</h5>
                <p class="feature-home-text mb-0">
                  مسار تعلّم ذكي مصمم خصيصًا لتطويرك وتحقيق أهدافك بسرعة
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>


<!-- courses section -->
<section class="courses py-5">
  <div class="container py-5">
    <!-- title -->
    <div class="text-center mb-5">
      <h2 class="courses-title">
        <img src="../../../assets/img/home-two/shape-e.svg" alt="icon" class="title-icon">
        اكتشف أفضل الدورات التعليمية
      </h2>
      <p class="courses-sub">مجموعة متنوعة من الكورسات لتطوير مهاراتك</p>
    </div>

    <!-- courses grid -->
    <div class="row g-4 justify-content-between">

      <div class="col-6 col-md-4 col-lg-2">
        <div class="course-card">
          <div class="course-img">
            <img src="../../../assets/img/home-two/courses.png" alt="دروس خصوصية">
          </div>
          <div class="course-label">
            <span class="arrow"> <i class="fa-solid fa-arrow-left"></i>
            </span> دروس خصوصية
          </div>
        </div>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="course-card">
          <div class="course-img">
            <img src="../../../assets/img/home-two/courses.png" alt="دروس خصوصية">
          </div>
          <div class="course-label">
            <span class="arrow"> <i class="fa-solid fa-arrow-left"></i>
            </span> دروس خصوصية
          </div>
        </div>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="course-card">
          <div class="course-img">
            <img src="../../../assets/img/home-two/courses.png" alt="دروس خصوصية">
          </div>
          <div class="course-label">
            <span class="arrow"> <i class="fa-solid fa-arrow-left"></i>
            </span> دروس خصوصية
          </div>
        </div>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="course-card">
          <div class="course-img">
            <img src="../../../assets/img/home-two/courses.png" alt="دروس خصوصية">
          </div>
          <div class="course-label">
            <span class="arrow"> <i class="fa-solid fa-arrow-left"></i>
            </span> دروس خصوصية
          </div>
        </div>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="course-card">
          <div class="course-img">
            <img src="../../../assets/img/home-two/courses.png" alt="دروس خصوصية">
          </div>
          <div class="course-label">
            <span class="arrow"> <i class="fa-solid fa-arrow-left"></i>
            </span> دروس خصوصية
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<!-- featured courses -->
<section class=" py-5">
  <div class="container text-center">
    <div class="featured-courses">
      <!-- title -->
      <h2 class="fc-title mb-2">الكورسات المميزة</h2>
      <p class="fc-sub mb-5">تعليم يناسب وقتك، مستواك، وطموحك</p>

      <!-- cards row -->
      <div class="row g-4 justify-content-center">

        <div class="col-11 col-md-6 col-lg-3">
          <div class="fc-card">
            <img src="../../../assets/img/home-two/courses.png" alt="Course">
            <div class="fc-body">
              <h5 class="fc-name">تطوير الذات</h5>
              <div class="fc-rating">
                <span class="stars text-warning">
                  ★★★★★
                </span>
                <span class="rating-text">5.0 <small>(7 rating)</small></span>
              </div>
              <a href="#" class="btn btn-outline-pill">احجز الآن</a>
            </div>
          </div>
        </div>

        <div class=" col-11 col-md-6 col-lg-3">
          <div class="fc-card">
            <img src="../../../assets/img/home-two/courses.png" alt="Course">
            <div class="fc-body">
              <h5 class="fc-name">تطوير الذات</h5>
              <div class="fc-rating">
                <span class="stars text-warning">★★★★★</span>
                <span class="rating-text">5.0 <small>(7 rating)</small></span>
              </div>
              <a href="#" class="btn btn-outline-pill">احجز الآن</a>
            </div>
          </div>
        </div>

        <div class="col-11 col-md-6 col-lg-3">
          <div class="fc-card">
            <img src="../../../assets/img/home-two/courses.png" alt="Course">
            <div class="fc-body">
              <h5 class="fc-name">تطوير الذات</h5>
              <div class="fc-rating">
                <span class="stars text-warning">★★★★★</span>
                <span class="rating-text">5.0 <small>(7 rating)</small></span>
              </div>
              <a href="#" class="btn btn-outline-pill">احجز الآن</a>
            </div>
          </div>
        </div>

      </div>

      <!-- CTA button -->
      <div class="mt-5">
        <a href="#" class="btn btn-light-pill">اكتشف المزيد</a>
      </div>

      <!-- decoration -->
      <img src="../../../assets/img/home-two/Vector-shape.svg" class="fc-shape" alt="shape">

    </div>
  </div>

</section>

<!-- smart courses -->
<section class="smart-edu py-5">
  <div class="container">
    <div class="row align-items-center g-4">
      <!-- text -->
      <div class="col-lg-6 edu-content">
        <p class="edu-kicker">كل ما تحتاجه لتتطور في مكان واحد</p>
        <h2 class="edu-title">
          تعليم ذكي يواكب طموحاتك... <br>
          <span>خطوة بخطوة نحو المستقبل</span>
        </h2>
        <p class="edu-text">
          منصتنا تمنحك الأدوات الحديثة لتطوير قدراتك وصناعة مستقبل أفضل. مع محتوى متنوع، تفاعل مباشر،
          وتكلفة مناسبة،
          نضع بين يديك تجربة تعليمية شاملة تجعل التعلم أكثر متعة وفعالية.
        </p>
        <a href="#" class="btn btn-pill btn-dark-blue">ابدأ الآن</a>
      </div>

      <!-- images -->
      <div class="col-lg-6 position-relative edu-graphics">
        <!-- main image -->
        <div>
          <!-- squiggle svg -->
          <img src="../../../assets/img/home-two/Vector-gll.svg" class="squiggle" alt="shape">
          <div class="edu-main-img">
            <img src="../../../assets/img/home-two/girl1.png" alt="student">

          </div>
        </div>


        <!-- small image -->
        <div class="edu-small-img">
          <img src="../../../assets/img/home-two/girl2.png" alt="student">
        </div>

        <!-- circle shape -->
        <div class="circle-shape"></div>


      </div>



    </div>
  </div>
</section>



<!-- best selling courses -->
<section class="best-selling my-5">
  <div class="container-fluid ">
    <div class="row align-items-center">

      <!-- text -->
      <div class="col-lg-3 position-relative ">
        <div class="bs-text">
          <h2 class="bs-title">الكورسات الأكثر مبيعًا</h2>
          <p class="bs-sub">رحلتك للتعلم تبدأ من هنا! برامج تعليمية تفتح لك آفاق جديدة</p>
          <img src="assets/img/home-two/shape-e.svg" alt="icon" class="title-icon position-absolute ">
        </div>
      </div>

      <!-- slider -->
      <div class="col-lg-9">
        <owl-carousel-o [options]="customOptionsCrSlider">

          <!-- card 1 -->
          <ng-template carouselSlide>
            <div class="fc-card">
              <img src="assets/img/home-two/courses.png" alt="Course">
              <div class="fc-body">
                <h5 class="fc-name">تطوير الذات</h5>
                <div class="fc-rating">
                  <span class="stars text-warning">★★★★★</span>
                  <span class="rating-text">5.0 <small>(7 rating)</small></span>
                </div>
                <a href="#" class="btn btn-outline-pill">احجز الآن</a>
              </div>
            </div>
          </ng-template>

          <!-- card 2 -->
          <ng-template carouselSlide>
            <div class="fc-card">
              <img src="assets/img/home-two/courses.png" alt="Course">
              <div class="fc-body">
                <h5 class="fc-name">دروس خصوصية</h5>
                <div class="fc-rating">
                  <span class="stars text-warning">★★★★★</span>
                  <span class="rating-text">4.9 <small>(12 rating)</small></span>
                </div>
                <a href="#" class="btn btn-outline-pill">احجز الآن</a>
              </div>
            </div>
          </ng-template>

          <!-- card 3 -->
          <ng-template carouselSlide>
            <div class="fc-card">
              <img src="assets/img/home-two/courses.png" alt="Course">
              <div class="fc-body">
                <h5 class="fc-name">كورسات مهنية</h5>
                <div class="fc-rating">
                  <span class="stars text-warning">★★★★☆</span>
                  <span class="rating-text">4.7 <small>(25 rating)</small></span>
                </div>
                <a href="#" class="btn btn-outline-pill">احجز الآن</a>
              </div>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>

    </div>
  </div>
</section>




<!-- testimonials  -->
<section class="testimonials py-5">
  <div class="container text-center">
    <p class="ts-kicker">قصص نجاح نعتز بها من عملائنا</p>
    <h2 class="ts-title mb-5">ماذا يقول العملاء عنا</h2>

    <!-- Owl Carousel -->
    <owl-carousel-o [options]="customOptionsTsSlider" class="owl-theme ts-slider">

      <!-- Slide 1 -->
      <ng-template carouselSlide>
        <div class="ts-item">
          <!-- main avatar -->
          <div class="ts-avatar">
            <img src="assets/img/home-two/girl1.png" alt="Client">
          </div>
          <p class="ts-quote">
            "لقد كانت تجربتي مع هذه المنصة التعليمية فريدة بحق، فقد وجدت الدورات بسهولة واستفدت من أسلوب
            العرض التفاعلي."
          </p>

          <!-- floating avatars -->
          <img src="assets/img/home-two/girl1.png" class="float-avatar left top" alt="client">
          <img src="assets/img/home-two/girl1.png" class="float-avatar left bottom" alt="client">
          <img src="assets/img/home-two/girl1.png" class="float-avatar right top" alt="client">
          <img src="assets/img/home-two/girl1.png" class="float-avatar right bottom" alt="client">
        </div>
      </ng-template>

      <!-- Slide 2 -->
      <ng-template carouselSlide>
        <div class="ts-item">
          <div class="ts-avatar">
            <img src="assets/img/home-two/girl1.png" alt="Client">
          </div>
          <p class="ts-quote">
            "أفضل منصة تعليمية تفاعلية على الإطلاق! أنصح بها لكل من يسعى لتطوير نفسه."
          </p>

          <img src="assets/img/home-two/girl1.png" class="float-avatar left top" alt="client">
          <img src="assets/img/home-two/girl1.png" class="float-avatar left bottom" alt="client">
          <img src="assets/img/home-two/girl1.png" class="float-avatar right top" alt="client">
          <img src="assets/img/home-two/girl1.png" class="float-avatar right bottom" alt="client">
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</section>


<!--  footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">

      <!-- Logo -->
      <div class="col-lg-4 text-lg-end mb-4 mb-lg-0">
        <img src="../../.../../../assets/img/home-two/logo-big.png" alt="LoopEDX" class="footer-logo">
        <p class="footer-slogan">Learn Smarter, Grow Further</p>
      </div>

      <!-- Links -->
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h6 class="footer-title">روابط مهمة</h6>
        <ul class="footer-links">
          <li><a href="#">من نحن</a></li>
          <li><a href="#">سياسة الخصوصية</a></li>
          <li><a href="#">الشروط والاحكام</a></li>
          <li><a href="#">الدعم الفني</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-4">
        <h6 class="footer-title">تواصل معنا</h6>
        <ul class="footer-links">
          <li><a href="#">واتساب</a></li>
          <li><a href="#">جوال: 0100000000</a></li>
        </ul>
      </div>
    </div>

    <!-- bottom -->
    <div class="footer-bottom">
      © 2025 LoopEDX. جميع الحقوق محفوظة.
    </div>
  </div>
</footer>