<!-- Login Banner -->
<div class="col-md-6 login-bg">
  <div class="row w-100">
    <div class="col-md-12">
      <div data-aos="fade-up">
        <owl-carousel-o [options]="forgotPasswordOwlOptions">
          <ng-container *ngFor="let slide of forgotPassword">
            <ng-template carouselSlide>
              <div class="welcome-login">
                <div class="login-banner">
                  <img [src]="slide.img" class="img-fluid" alt="Logo">
                </div>
                <div class="mentor-course text-center">
                  <h2>{{ slide.content1 }}<br />{{ slide.content2 }}</h2>
                  <p>{{ slide.paragraph }}</p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- /Login Banner -->

<div class="col-md-6 login-wrap-bg">
  <!-- Login Step 1: Email Input -->
  <div *ngIf="forgotStep === 1" class="login-wrapper">
    <div class="loginbox">
      <div class="img-logo">
        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
        <div class="back-home">
          <a [routerLink]="routes.home">Back to Home</a>
        </div>
      </div>
      <h1>Forgot Password?</h1>

      @if (errMsg) {
      <div class="alert alert-danger mt-1">
        <p class="m-0">{{errMsg}}</p>
      </div>
      }
      <div class="reset-password">
        <p>Enter your email to reset your password.</p>
      </div>
      <form [formGroup]="emailForm" (ngSubmit)="directLogin()">
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter your email address" />
          <!-- <small *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-danger">
            Please enter a valid email.
          </small> -->


          <app-alert-error controlName="email" [formName]="emailForm" />
        </div>

        <div class="d-grid">
          <button class="btn btn-start" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>



  <!-- Login Step 2: Reset Password -->
  <div *ngIf="forgotStep === 2" class="login-wrapper">
    <div class="loginbox">
      <div class="img-logo">
        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
        <div class="back-home">
          <a [routerLink]="routes.home">Back to Home</a>
        </div>
      </div>
      <h1>Reset Password</h1>
      @if (errMsg) {
      <div class="alert alert-danger mt-1">
        <p class="m-0">{{errMsg}}</p>
      </div>
      }
      <div class="reset-password">
        <p>Enter your new password.</p>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="directLogin()">

        <div class="form-group">
          <label class="form-control-label">Code</label>
          <code-input class="code-input" [isCodeHidden]="false" [codeLength]="4"
            (codeCompleted)="onCodeCompleted($event)"></code-input>



          <ul class="m-0">
            @if (resetPasswordForm.get('code')?.invalid && resetPasswordForm.get('code')?.touched) {

            <li class="fw-normal my-2 text-danger"> Code is required (4 characters).</li>

            }
          </ul>

        </div>
        <div class="form-group">
          <label class="form-control-label">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter your password" />


          <app-alert-error controlName="password" [formName]="resetPasswordForm" />
        </div>
        <div class="form-group">
          <label class="form-control-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword"
            placeholder="Confirm your password" />




          <ul class="m-0">
            @if (resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched)
            {

            <li class="fw-normal my-2 text-danger"> Passwords must match.</li>

            }
          </ul>
        </div>




        <div class="d-grid">
          <button class="btn btn-start" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>