<!-- Login Banner -->
<div class="col-md-6 login-bg">
  <div class="row w-100">
    <div class="col-md-12">
      <div data-aos="fade-up">
        <owl-carousel-o [options]="forgotPasswordOwlOptions">
          <ng-container *ngFor="let slide of forgotPassword">
            <ng-template carouselSlide>
              <div class="welcome-login">
                <div class="login-banner">
                  <img [src]="slide.img" class="img-fluid" alt="Logo">
                </div>
                <div class="mentor-course text-center">
                  <h2>{{ slide.content1 }}<br />{{ slide.content2 }}</h2>
                  <p>{{ slide.paragraph }}</p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- /Login Banner -->

<div class="col-md-6 login-wrap-bg">
  <!-- Login Step 1: Email Input -->
  <div *ngIf="forgotStep === 1" class="login-wrapper">
    <div class="loginbox">
      <div class="img-logo">
        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
        <div class="back-home">
          <a [routerLink]="routes.home">{{'auth.backToHome' | translate}}</a>
        </div>
      </div>
      <h1>{{'auth.forgotPassword' | translate}}</h1>

      @if (errMsg) {
      <div class="alert alert-danger mt-1">
        <p class="m-0">{{errMsg}}</p>
      </div>
      }
      <div class="reset-password">
        <p>{{'auth.resetPasswordInstruction' | translate}}</p>
      </div>
      <form [formGroup]="emailForm" (ngSubmit)="directLogin()">
        <div class="form-group">
          <label class="form-control-label">{{'auth.email' |translate}}</label>
          <input type="email" class="form-control" formControlName="email"
            [placeholder]="'auth.emailPlaceholder' | translate" />
          <!-- <small *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-danger">
            Please enter a valid email.
          </small> -->


          <app-alert-error controlName="email" [formName]="emailForm" />
        </div>

        <div class="d-grid">
          <button class="btn btn-start" type="submit">{{'auth.submit'| translate }}</button>
        </div>
      </form>
    </div>
  </div>



  <!-- Login Step 2: Reset Password -->
  <div *ngIf="forgotStep === 2" class="login-wrapper">
    <div class="loginbox">
      <div class="img-logo">
        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
        <div class="back-home">
          <a [routerLink]="routes.home">{{'auth.backToHome' | translate}}</a>
        </div>
      </div>
      <h1>{{'auth.resetPassword' | translate}}</h1>
      @if (errMsg) {
      <div class="alert alert-danger mt-1">
        <p class="m-0">{{errMsg}}</p>
      </div>
      }
      <div class="reset-password">
        <p>{{'auth.newPassword' | translate}}.</p>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="directLogin()">

        <div class="form-group">
          <label class="form-control-label">{{'auth.code' | translate}}</label>
          <code-input class="code-input" [isCodeHidden]="false" [codeLength]="4"
            (codeCompleted)="onCodeCompleted($event)"></code-input>



          <ul class="m-0">
            @if (resetPasswordForm.get('code')?.invalid && resetPasswordForm.get('code')?.touched) {

            <li class="fw-normal my-2 text-danger"> {{'auth.codeRequired' | translate}}</li>

            }
          </ul>

        </div>
        <div class="form-group">
          <label class="form-control-label">{{'auth.password' | translate}}</label>
          <input type="password" class="form-control" formControlName="password"
            [placeholder]="'auth.passwordPlaceholder' | translate" />


          <app-alert-error controlName="password" [formName]="resetPasswordForm" />
        </div>
        <div class="form-group">
          <label class="form-control-label">{{'auth.confirmPassword' | translate}}</label>
          <input type="password" class="form-control" formControlName="confirmPassword"
            [placeholder]="'auth.confirmPassPlaceholder' | translate" />




          <ul class="m-0">
            @if (resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched)
            {

            <li class="fw-normal my-2 text-danger"> {{'auth.passwordsMustMatch' | translate}}.</li>

            }
          </ul>
        </div>




        <div class="d-grid">
          <button class="btn btn-start" type="submit">{{'auth.submit'| translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>