<!-- counter stats -->
<section class="stats my-5" data-aos="fade-up">
  <div class="container">
    <div class="stats-pill text-white p-4 p-md-5 shadow-sm">
      <div class="row row-cols-1 row-cols-md-4 g-0 text-center">

        <div class="col stat-item">
          <div class="stat-number  text-white">+<span id="stat-courses" class="stat-number  text-white">{{ coursesNumber
              }}</span></div>
          <div class="stat-text">{{ coursesLabel }}</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number  text-white">+<span id="stat-students" class="stat-number  text-white">{{
              studentsNumber }}</span>
          </div>
          <div class="stat-text">{{ studentsLabel }}</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number  text-white"> +<span id="stat-teachers" class="stat-number  text-white">{{
              teachersNumber }}</span>
          </div>
          <div class="stat-text">{{ teachersLabel }}</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number text-white">+<span id="stat-fields" class="stat-number  text-white">{{ fieldsNumber
              }}</span></div>
          <div class="stat-text">{{ fieldsLabel }}</div>
        </div>

      </div>
    </div>
  </div>
</section>