<!-- counter stats -->
<section class="stats my-5" data-aos="fade-up">
  <div class="container">
    <div class="stats-pill text-white p-4 p-md-5 shadow-sm">
      <div class="row row-cols-1 row-cols-md-4 g-0 text-center">

        <div class="col stat-item">
          <div class="stat-number">+<span id="stat-courses" class="stat-number">50</span></div>
          <div class="stat-text">{{ 'home_two.stats.courses' | translate }}</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number">+<span id="stat-students" class="stat-number">2000</span></div>
          <div class="stat-text">{{ 'home_two.stats.students' | translate }}</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number"> +<span id="stat-teachers" class="stat-number">150</span></div>
          <div class="stat-text">{{ 'home_two.stats.teachers' | translate }}</div>
        </div>

        <div class="col stat-item">
          <div class="stat-number">+<span id="stat-fields" class="stat-number">20</span></div>
          <div class="stat-text">{{ 'home_two.stats.fields' | translate }}</div>
        </div>

      </div>
    </div>
  </div>
</section>