<!-- smart courses -->
<section class="smart-edu pb-5" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center px-md-5 mt-5  pb-5">
      <!-- text -->
      <div class="col-lg-6 edu-content">
        <p class="edu-kicker">{{ 'home_two.smart.kicker' | translate }}</p>
        <h2 class="edu-title">{{ 'home_two.smart.title' | translate }}</h2>

        <p class="edu-text">{{ 'home_two.smart.text' | translate }}</p>

        <a href="#" class="btn btn-pill btn-dark-blue">{{ 'home_two.smart.cta' | translate }}</a>
      </div>

      <!-- images -->
      <div class="col-lg-6 position-relative edu-graphics">
        <!-- main image -->
        <div>
          <!-- squiggle svg -->
          <img src="../../../assets/img/home-two/Vector-gll.svg" class="squiggle" alt="shape">
          <div class="edu-main-img">
            <img src="../../../assets/img/home-two/girl1.png" alt="student">

          </div>
        </div>


        <!-- small image -->
        <div class="edu-small-img">
          <img src="../../../assets/img/home-two/girl2.png" alt="student">
        </div>

        <!-- circle shape -->
        <div class="circle-shape"></div>


      </div>



    </div>
  </div>
</section>