<section class="courses py-5" data-aos="fade-up">
  <div class="container py-5">
    <!-- title -->
    <div class="text-center mb-5">
      <h2 class="courses-title position-relative lesson-title ">
        <img src="../../../assets/img/home-two/shape-e.svg" alt="icon" class="title-icon position-absolute">
        {{ 'home_two.courses.title' | translate }}
      </h2>
      <p class="courses-sub">{{ 'home_two.courses.subtitle' | translate }}</p>
    </div>

    <!-- dynamic courses grid -->
    <div class="row g-4 justify-content-between">
      <div class="col-12 col-md-4 col-lg-2" *ngFor="let category of categories" (click)="onCategoryClick(category)">
        <div class="course-card">
          <div class="course-img">
            <img [src]="category.image" [alt]="category.title">
          </div>
          <div class="course-label">
            {{ category.title }}
            <span class="arrow"><i class="fa-solid fa-arrow-left"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>