<div class="add-header-bg first-header py-2">
  <div class=" container ">
    <div class="d-flex justify-content-between ">


      <div class="logo" routerLink="/home">
        <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo-img logo">
      </div>



      <ul class="nav header-navbar-rht">
        <div class="lang-toggle">
          <app-btn-lang></app-btn-lang>
        </div>
        <li class="nav-item">
          <a class="login-head button" routerLink="login">{{ 'navbar.login' | translate }}</a>
        </li>
        <li *ngIf="!loginWithWats" class="nav-item">
          <a class="signin-head" routerLink="signup">{{ 'navbar.signUp' | translate }}</a>
        </li>


      </ul>
    </div>
  </div>
</div>


<div class="">
  <div class="auth-nav  ">
    <!-- Overlay for mobile menu -->
    <div class="overlay" #overlay [class.active]="isMenuOpened"></div>

    <!-- Main Navigation -->
    <nav #navbar [class.scrolled]="isScrolled" [class.transparent]="isTransparent" [class.home-page]="isHomePage"
      [class.other-page]="!isHomePage">
      <div class="container d-flex  justify-content-between justify-content-lg-start">
        <!-- Logo -->
        <div class="logo show-mobile" routerLink="/home">
          <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo-img logo">
        </div>


        <!-- Desktop Menu -->
        <div class="menu">
          <div class="menu-item" *ngFor="let item of menuItems">

            <!-- Menu item with dropdown -->
            <div *ngIf="item.hasDropdown">
              <a href="#" class="menu-link has-dropdown" [class.active]="item.route && isActiveRoute(item.route)"
                (click)="$event.preventDefault()">
                {{ item.translationKey | translate }}
                <i class="fas fa-chevron-down"></i>
              </a>

              <!-- Dropdown menu -->
              <div class="dropdown" *ngIf="item.submenu">
                <ng-container *ngFor="let subItem of item.submenu">

                  <!-- Simple dropdown item -->
                  <a *ngIf="!subItem.hasDropdown" [routerLink]="subItem.route || '#'"
                    [class.active]="subItem.route && isActiveRoute(subItem.route)"
                    (click)="subItem.route && navigateTo(subItem.route)">
                    {{ subItem.translationKey | translate }}
                  </a>

                  <!-- Dropdown item with submenu -->
                  <div *ngIf="subItem.hasDropdown" class="submenu-item">
                    <a href="#" (click)="$event.preventDefault()">
                      {{ subItem.translationKey | translate }}
                      <i class="fas fa-chevron-right"></i>
                    </a>
                    <div class="submenu-box" *ngIf="subItem.submenu">
                      <a *ngFor="let subSubItem of subItem.submenu" [routerLink]="subSubItem.route || '#'"
                        [class.active]="subSubItem.route && isActiveRoute(subSubItem.route)"
                        (click)="subSubItem.route && navigateTo(subSubItem.route)">
                        {{ subSubItem.translationKey | translate }}
                      </a>
                    </div>
                  </div>

                </ng-container>
              </div>
            </div>

            <!-- Simple menu item -->
            <a *ngIf="!item.hasDropdown" [routerLink]="item.route || '#'" class="menu-link"
              [class.active]="item.route && isActiveRoute(item.route)" (click)="item.route && navigateTo(item.route)">
              {{ item.translationKey | translate }}
            </a>

          </div>
        </div>


        <!-- Mobile Hamburger Button -->
        <button class="hamburger" #hamburgerBtn>
          <span></span>
          <span></span>
          <span></span>
        </button>

      </div>

    </nav>


    <!-- Mobile Side Menu -->
    <div class="side-menu " style="position: fixed;" #sideMenu [class.active]="isMenuOpened">

      <!-- Side Menu Header -->
      <div class="side-menu-header ">
        <div class="logo" routerLink="/home">

          <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo-img logo">
        </div>
        <button class="close-btn" #closeBtn>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <!-- Side Menu Items -->
      <ul>
        <li *ngFor="let item of menuItems">

          <!-- Menu item with submenu -->
          <div *ngIf="item.hasDropdown">
            <a (click)="toggleSubmenu(item.title, $event)" [class.active]="isSubmenuActive(item.title)">
              {{ item.translationKey | translate }}
              <i class="fas fa-chevron-down"
                [style.transform]="isSubmenuActive(item.title) ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
            </a>

            <!-- Mobile Submenu -->
            <div class="submenu" [class.active-sub]="isSubmenuActive(item.title)" *ngIf="item.submenu">

              <ng-container *ngFor="let subItem of item.submenu">

                <!-- Simple submenu item -->
                <a *ngIf="!subItem.hasDropdown" [routerLink]="subItem.route || '#'"
                  [class.active]="subItem.route && isActiveRoute(subItem.route)"
                  (click)="subItem.route && navigateTo(subItem.route)">
                  {{ subItem.translationKey | translate }}
                </a>

                <!-- Submenu item with nested submenu -->
                <div *ngIf="subItem.hasDropdown" class="submenu-item">
                  <div (click)="toggleSubmenu(item.title + '_' + subItem.title, $event)"
                    style="cursor: pointer; padding: 14px 16px; display: flex; justify-content: space-between; align-items: center; color: white; font-size: 14px;">
                    {{ subItem.translationKey | translate }}
                    <i class="fas fa-chevron-down"
                      [style.transform]="isSubmenuActive(item.title + '_' + subItem.title) ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
                  </div>

                  <!-- Nested submenu -->
                  <div class="submenu" [class.active-sub]="isSubmenuActive(item.title + '_' + subItem.title)"
                    *ngIf="subItem.submenu">
                    <a *ngFor="let subSubItem of subItem.submenu" [routerLink]="subSubItem.route || '#'"
                      [class.active]="subSubItem.route && isActiveRoute(subSubItem.route)"
                      (click)="subSubItem.route && navigateTo(subSubItem.route)">
                      {{ subSubItem.translationKey | translate }}
                    </a>
                  </div>
                </div>

              </ng-container>
            </div>
          </div>

          <!-- Simple menu item -->
          <div *ngIf="!item.hasDropdown">
            <a [routerLink]="item.route || '#'" [class.active]="item.route && isActiveRoute(item.route)"
              (click)="item.route && navigateTo(item.route)">
              {{ item.translationKey | translate }}
            </a>
          </div>

        </li>
        <!-- Language Dropdown in Sidebar -->
        <li class="sidebar-lang" (click)="toggleLangDropdown($event)" style="cursor: pointer;">
          <div class="d-flex justify-content-between align-items-center px-3 py-2">
            <span>{{ 'navbar.language' | translate }}</span>
            <i class="fas fa-chevron-down"
              [style.transform]="isLangDropdownOpen ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
          </div>

          <ul class="lang-options ps-3 pe-3 pb-2" *ngIf="isLangDropdownOpen">
            <li class="py-2" (click)="switchLanguage('ar')">العربية</li>
            <li class="py-2" (click)="switchLanguage('en')">English</li>
          </ul>
        </li>

        <!-- Mobile Auth Links -->
        <li><a routerLink="/login" (click)="navigateTo('/login')">{{ 'navbar.login' | translate }}</a></li>
        <li *ngIf="!loginWithWats"><a routerLink="/signup" (click)="navigateTo('/signup')">{{ 'navbar.signUp' |
            translate }}</a></li>
      </ul>

    </div>
  </div>
</div>