<!-- Top Info Bar -->
<div *ngIf="setting" class="add-header-bg first-header py-2 top-info-bar">
  <div class="container d-flex justify-content-between align-items-center flex-wrap">
    <!-- Left Section: Social + Phone + Email -->
    <div class="d-flex align-items-center flex-wrap gap-3">
      <!-- Social Icons -->
      <div class="d-flex gap-2 social-icons">
        <a *ngIf="setting?.data?.social?.facebook" [href]="setting.data.social.facebook" target="_blank" rel="noopener">
          <i class="fa-brands fa-facebook fs-6"></i>
        </a>

        <a *ngIf="setting?.data?.social?.instagram" [href]="setting.data.social.instagram" target="_blank"
          rel="noopener">
          <i class="fa-brands fa-instagram fs-6"></i>
        </a>

        <a *ngIf="setting?.data?.contact_us?.whatsapp"
          [href]="'https://wa.me/' + formatWhatsappNumber(setting.data.contact_us.whatsapp)" target="_blank"
          rel="noopener">
          <i class="fa-brands fa-whatsapp fs-5"></i>
        </a>


        <a *ngIf="setting?.data?.social?.youtube" [href]="setting.data.social.youtube" target="_blank" rel="noopener">
          <i class="fa-brands fa-youtube fs-6"></i>
        </a>
        <a *ngIf="setting?.data?.social?.snapchat" [href]="setting.data.social.snapchat" target="_blank" rel="noopener">
          <i class="fa-brands fa-snapchat fs-6"></i>
        </a>
        <a *ngIf="setting?.data?.social?.twitter" [href]="setting.data.social.twitter" target="_blank" rel="noopener">
          <i class="fa-brands fa-twitter fs-6"></i>
        </a>

      </div>
      <!-- Phone -->
      <div class="d-flex align-items-center gap-1 contact-info">
        <i class="fas fa-phone-alt fs-6"></i>
        <span>{{setting.data.contact_us.call_number}}</span>
      </div>
      <!-- Email -->
      <div class="d-flex align-items-center gap-1 contact-info">
        <i class="fas fa-envelope fs-6"></i>
        <span>{{setting.data.contact_us.email}}</span>
      </div>
    </div>

    <!-- Right Section: Links -->
    <div class="d-flex align-items-center gap-3 flex-wrap top-links">
      <div class="tdnn" (click)="toggleThemeManually()" [class.day]="!isDarkMode">
        <div class="moon" [class.sun]="!isDarkMode"></div>
      </div>




      <a href="#" class="text-decoration-none btn-sm" routerLink="login">{{ 'navbar.login' | translate }}</a>
      <a href="#" *ngIf="!loginWithWats" class="text-decoration-none btn-sm" routerLink="signup">{{ 'navbar.signUp' |
        translate }}</a>
      <app-btn-lang></app-btn-lang>
    </div>
  </div>
</div>



<div class="">
  <div class="auth-nav  ">
    <!-- Overlay for mobile menu -->
    <div class="overlay" #overlay [class.active]="isMenuOpened"></div>

    <!-- Main Navigation -->
    <nav #navbar [class.scrolled]="isScrolled" [class.transparent]="isTransparent" [class.home-page]="isHomePage"
      [class.other-page]="!isHomePage">
      <div class="container   " style=" align-items: inherit;">
        <div class="d-flex justify-content-between">
          <!-- Logo -->
          <div class="logo  d-none-mobile" routerLink="/home">
            <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo-img logo">
          </div>


          <!-- Desktop Menu -->
          <div class="menu ">
            <div class="menu-item" *ngFor="let item of menuItems">

              <!-- Menu item with dropdown -->
              <div *ngIf="item.hasDropdown">
                <a href="#" class="menu-link has-dropdown" [class.active]="item.route && isActiveRoute(item.route)"
                  (click)="$event.preventDefault()">
                  {{ item.translationKey | translate }}
                  <i class="fas fa-chevron-down"></i>
                </a>

                <!-- Dropdown menu -->
                <div class="dropdown" *ngIf="item.submenu">
                  <ng-container *ngFor="let subItem of item.submenu">

                    <!-- Simple dropdown item -->
                    <a *ngIf="!subItem.hasDropdown" [routerLink]="subItem.route || '#'"
                      [class.active]="subItem.route && isActiveRoute(subItem.route)"
                      (click)="subItem.route && navigateTo(subItem.route)">
                      {{ subItem.translationKey | translate }}
                    </a>

                    <!-- Dropdown item with submenu -->
                    <div *ngIf="subItem.hasDropdown" class="submenu-item">
                      <a href="#" (click)="$event.preventDefault()">
                        {{ subItem.translationKey | translate }}
                        <i class="fas fa-chevron-right"></i>
                      </a>
                      <div class="submenu-box" *ngIf="subItem.submenu">
                        <a *ngFor="let subSubItem of subItem.submenu" [routerLink]="subSubItem.route || '#'"
                          [class.active]="subSubItem.route && isActiveRoute(subSubItem.route)"
                          (click)="subSubItem.route && navigateTo(subSubItem.route)">
                          {{ subSubItem.translationKey | translate }}
                        </a>
                      </div>
                    </div>

                  </ng-container>

                </div>

              </div>

              <!-- Simple menu item -->
              <a *ngIf="!item.hasDropdown" [routerLink]="item.route || '#'" class="menu-link"
                [class.active]="item.route && isActiveRoute(item.route)" (click)="item.route && navigateTo(item.route)">
                {{ item.translationKey | translate }}
              </a>

            </div>
            <a href="#" (click)="openSearchPopup()">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>

          </div>

        </div>

        <div class="d-flex justify-content-between align-items-center">

          <div class="logo  show-mobile" routerLink="/home">
            <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo-img logo">
          </div>

          <div class="d-flex">

            <div class="tdnn show-mobile" (click)="toggleThemeManually()" [class.day]="!isDarkMode">
              <div class="moon" [class.sun]="!isDarkMode"></div>
            </div>


            <!-- Mobile Hamburger Button -->
            <button class="hamburger" #hamburgerBtn>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>


      </div>

    </nav>


    <!-- Mobile Side Menu -->
    <div class="side-menu " style="position: fixed;" #sideMenu [class.active]="isMenuOpened">

      <!-- Side Menu Header -->
      <div class="side-menu-header ">
        <div class="logo" routerLink="/home">

          <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo-img logo">
        </div>
        <button class="close-btn" #closeBtn>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <!-- Side Menu Items -->
      <ul>
        <li *ngFor="let item of menuItems">

          <!-- Menu item with submenu -->
          <div *ngIf="item.hasDropdown">
            <a (click)="toggleSubmenu(item.title, $event)" [class.active]="isSubmenuActive(item.title)">
              {{ item.translationKey | translate }}
              <i class="fas fa-chevron-down"
                [style.transform]="isSubmenuActive(item.title) ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
            </a>

            <!-- Mobile Submenu -->
            <div class="submenu" [class.active-sub]="isSubmenuActive(item.title)" *ngIf="item.submenu">

              <ng-container *ngFor="let subItem of item.submenu">

                <!-- Simple submenu item -->
                <a *ngIf="!subItem.hasDropdown" [routerLink]="subItem.route || '#'"
                  [class.active]="subItem.route && isActiveRoute(subItem.route)"
                  (click)="subItem.route && navigateTo(subItem.route)">
                  {{ subItem.translationKey | translate }}
                </a>

                <!-- Submenu item with nested submenu -->
                <div *ngIf="subItem.hasDropdown" class="submenu-item">
                  <div (click)="toggleSubmenu(item.title + '_' + subItem.title, $event)"
                    style="cursor: pointer; padding: 14px 16px; display: flex; justify-content: space-between; align-items: center; color: white; font-size: 14px;">
                    {{ subItem.translationKey | translate }}
                    <i class="fas fa-chevron-down"
                      [style.transform]="isSubmenuActive(item.title + '_' + subItem.title) ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
                  </div>

                  <!-- Nested submenu -->
                  <div class="submenu" [class.active-sub]="isSubmenuActive(item.title + '_' + subItem.title)"
                    *ngIf="subItem.submenu">
                    <a *ngFor="let subSubItem of subItem.submenu" [routerLink]="subSubItem.route || '#'"
                      [class.active]="subSubItem.route && isActiveRoute(subSubItem.route)"
                      (click)="subSubItem.route && navigateTo(subSubItem.route)">
                      {{ subSubItem.translationKey | translate }}
                    </a>
                  </div>
                </div>

              </ng-container>
            </div>
          </div>

          <!-- Simple menu item -->
          <div *ngIf="!item.hasDropdown">
            <a [routerLink]="item.route || '#'" [class.active]="item.route && isActiveRoute(item.route)"
              (click)="item.route && navigateTo(item.route)">
              {{ item.translationKey | translate }}
            </a>
          </div>

        </li>
        <!-- Language Dropdown in Sidebar -->
        <li class="sidebar-lang" (click)="toggleLangDropdown($event)" style="cursor: pointer;">
          <div class="d-flex justify-content-between align-items-center px-3 py-2">
            <span>{{ 'navbar.language' | translate }}</span>
            <i class="fas fa-chevron-down"
              [style.transform]="isLangDropdownOpen ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
          </div>

          <ul class="lang-options ps-3 pe-3 pb-2" *ngIf="isLangDropdownOpen">
            <li class="py-2" (click)="switchLanguage('ar')">العربية</li>
            <li class="py-2" (click)="switchLanguage('en')">English</li>
          </ul>
        </li>
        <li>
          <a (click)="openSearchPopup()" class="csr-pointer">
            {{ 'navbar.search' | translate }}
          </a>
        </li>
        <!-- Mobile Auth Links -->
        <li><a routerLink="/login" (click)="navigateTo('/login')">{{ 'navbar.login' | translate }}</a></li>
        <li *ngIf="!loginWithWats"><a routerLink="/signup" (click)="navigateTo('/signup')">{{ 'navbar.signUp' |
            translate }}</a></li>
      </ul>

    </div>
  </div>
</div>