<!-- Main Wrapper -->
<div class="main-wrapper log-wrap">

  <div class="row">

    <!-- Login Banner -->
    <div class="col-md-6 login-bg">
      <div class="row w-100">
        <div class="col-md-12">
          <owl-carousel-o [options]="welcomeLoginOwlOptions">
            <ng-container *ngFor="let slide of welcomeLogin">
              <ng-template carouselSlide>
                <div class="welcome-login">
                  <div class="login-banner">
                    <img [src]="slide.img" class="img-fluid" alt="Logo">
                  </div>
                  <div class="mentor-course text-center">
                    <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
                    <p>{{slide.paragraph}}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>

      </div>
    </div>
    <!-- /Login Banner -->

    <div class="col-md-6 login-wrap-bg">

      <!-- Login -->

      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img [src]="logoUrl" class="img-fluid logo" alt="Logo">

              <div class="back-home">
                <a [routerLink]="routes.home">{{ 'auth.backToHome' | translate }}</a>
              </div>

            </div>
            <h1>{{ 'auth.signIntoYourAccount' | translate }}</h1>

            <div *ngIf="msgError" class="alert alert-danger mt-1">
              <p class="m-0">{{ msgError }}</p>
            </div>

            <!-- regular reg email and password fields  -->
            <form *ngIf="!loginWithWats" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div>
                <div class="form-group">
                  <label class="form-control-label">{{ 'auth.email' | translate }}</label>
                  <input type="email" class="form-control" [placeholder]="'auth.emailPlaceholder' | translate"
                    formControlName="email" [ngClass]="{
        ' border-success': isFieldValid('email'),
        ' border-danger': isFieldInvalid('email')
      }">
                  <div>
                    <app-alert-error controlName="email" [formName]="loginForm"></app-alert-error>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label">{{ 'auth.password' | translate }}</label>
                  <div class="pass-group">
                    <input [type]="password" class="form-control pass-input"
                      [placeholder]="'auth.passwordPlaceholder' | translate" formControlName="password" [ngClass]="{
                                                                ' border-success': isFieldValid('password'),
                                                            ' border-danger': isFieldInvalid('password')
                                                        }">
                    <span>
                      <i-feather name="eye" class="toggle-password feather-eye" (click)="onClick()"
                        *ngIf="show"></i-feather>
                    </span>
                    <span>
                      <i-feather name="eye-off" class="toggle-password feather-eye-off" (click)="onClick()"
                        *ngIf="!show"></i-feather>
                    </span>
                  </div>
                  <div class="forgot mt-3">
                    <span><a class="forgot-link" routerLink="/forgotpass">{{ 'auth.forgotPassword' | translate
                        }}</a></span>
                  </div>
                  <div>
                    <app-alert-error controlName="password" [formName]="loginForm"></app-alert-error>
                  </div>
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary btn-start" type="submit">{{ 'auth.signIn' | translate }}</button>
                </div>
              </div>
            </form>
            <!-- wats version  reg   -->
            <form *ngIf="loginWithWats" [formGroup]="loginWatsForm" (ngSubmit)="onSubmitWats()">
              <div *ngIf="watsStep === 1">
                <app-phone-input [formGroup]="loginWatsForm" controlName="phone"></app-phone-input>



                <!-- <div class="form-check remember-me">
                  <label class="form-check-label mb-0">
                    {{ 'auth.rememberMe' | translate }}
                    <input class="form-check-input input-box" type="checkbox" name="radio">
                  </label>
                </div> -->


                <div class="d-grid">
                  <button class="btn btn-primary btn-start" type="submit">{{ 'auth.signIn' | translate }}</button>
                </div>


              </div>







            </form>



            <form [formGroup]="sendCode" (ngSubmit)="loginWithWatsApp()">
              <div class="form-group" *ngIf="watsStep === 2">
                <label class="form-control-label">{{'auth.code' | translate}}</label>
                <app-otp-code-input style="direction: ltr;" [isCodeHidden]="false" [codeLength]="4"
                  (codeCompleted)="onCodeCompleted($event)" (resendClicked)="onResendCode()">
                </app-otp-code-input>



                <div class="text-danger text-center my-2"
                  *ngIf="sendCode.get('code')?.invalid && sendCode.get('code')?.touched">
                  <div *ngIf="sendCode.get('code')?.errors?.['required']">
                    {{ 'auth.codeRequired' | translate }}
                  </div>
                  <div *ngIf="sendCode.get('code')?.errors?.['pattern']">
                    {{ 'auth.codeRequired' | translate }}
                  </div>
                  <div *ngIf="sendCode.get('code')?.errors?.['invalidOtp']">
                    {{ 'auth.codeInvalid' | translate }}
                  </div>
                </div>




                <div class="d-grid">
                  <button class="btn btn-primary btn-start" type="submit">{{ 'auth.signIn' | translate }}</button>
                </div>

              </div>

            </form>

          </div>
        </div>

        <div class="google-bg text-center">

          <div class="sign-google">

          </div>
          <p class="mb-0" *ngIf="!loginWithWats">
            {{ 'auth.newUser' | translate }} <a routerLink="/signup">{{ 'auth.createAccount' | translate }}</a>
          </p>
        </div>
      </div>



      <!-- /Login -->

    </div>

  </div>

</div>
<!-- /Main Wrapper -->