<div class="cstm-quiz">
  <div class="quiz-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
          @if (showIntro) {
          <div class="quiz-box">
            <div class="card-header border-bottom text-center pb-3">
              <h2 class="fs-4 mb-0">{{ 'quiz.welcome' | translate }}</h2>
            </div>
            <div class="d-flex flex-column align-items-center p-4">
              @if (showResult) { <p class="text-center mb-4">
                {{ 'quiz.introShowAnswers' | translate }}
              </p>



              }
              <p class="text-center mb-4">
                {{ 'quiz.introWarning' | translate }} </p>

              @if (showResult) {
              <button type="button" class="next-btn btn" (click)="startQuiz()">

                {{ 'quiz.showResult' | translate }}
              </button>


              }
              <button type="button" class="next-btn btn" (click)="startQuiz()">

                {{ 'quiz.start' | translate }}
              </button>
            </div>
          </div>
          }
          @if ( !showIntro && quizData.length > 0) {
          <div class="question-number text-end">
            {{ 'quiz.timeRemaining' | translate }}: <span class="fw-bold ">{{ formattedTime }} </span>
          </div>

          <!-- Show Quiz Box only when not showing result -->
          @if (!showResult) {
          <div class="quiz-box">
            <div class="question-number text-end">
              {{ 'quiz.question' | translate }} <span class="fw-bold">{{currentQuestion}}</span>/{{quizData.length}}
            </div>

            <!-- Question Display -->
            <div class="d-flex justify-content-center pb-4">
              <span class="question-text text-center">Q{{currentQuestion}}. </span>
              @if (quizData[currentQuestion - 1].image) {
              <div class="question-img">
                <img [src]="quizData[currentQuestion - 1].image" class="img-fluid" alt="Question image">
              </div>
              } @else {
              <span class="question-text text-center">{{quizData[currentQuestion - 1].title}}</span>
              }
            </div>

            <!-- Answers List -->
            <div class="options-list d-flex flex-column justify-content-center align-items-center">
              @for (answer of quizData[currentQuestion - 1].Answers; track answer.id) {
              <div class="option-item" [ngClass]="{
                      'active-answer': isCorrectAnswer(answer.id) && quizResponse.can_show_answers,
                      'wrong-answer': isWrongAnswer(answer.id) && quizResponse.can_show_answers
                    }">
                <input type="radio" [name]="'answer'" [id]="'option' + answer.id" class="option-input"
                  [(ngModel)]="selectedAnswer" [value]="answer.id" [disabled]="quizResponse.can_show_answers">
                @if (answer.image) {
                <label [for]="'option' + answer.id" class="option-label img-option p-1">
                  <img [src]="answer.image" [alt]="answer.title">
                </label>
                } @else {
                <label [for]="'option' + answer.id" class="option-label">
                  {{answer.title}}
                </label>
                }
              </div>
              }
            </div>

            <!-- Navigation Buttons -->
            <div class="quiz-btns">


              <button type="button" class="next-btn btn" (click)="nextQuestion()" [disabled]="!canProceed()">

                {{ 'quiz.next' | translate }}

              </button>
              @if (quizResponse.can_show_answers && currentQuestion > 1) {
              <button type="button" class="back-btn btn mx-2" (click)="previousQuestion()">
                {{ 'quiz.back' | translate }}
              </button>
              }


            </div>
          </div>
          }

          <!-- Result Card - Show when showResult is true -->
          @if (showResult) {

          <div class="d-flex justify-content-center align-items-center">
            <div class="row justify-content-center w-100">
              <div class="col-12 col-md-10 col-lg-6 d-flex justify-content-center">
                <div class="">
                  <div class="result-card" [ngClass]="getResultClass()">
                    <div class="card-header border-bottom">
                      <h2 class="fs-5 mb-0"> {{ 'quiz.resultTitle' | translate }}</h2>
                      <span class="fs-6">
                        <span class="fw-bold fs-5">{{getCorrectAnswersCount()}}</span>/{{quizData.length}}
                      </span>
                    </div>
                    <div class="image-container">
                      @if( getResulimoji()){
                      <img src="../../../../assets/img/test-quiz/great-result.png" alt="result emoji"
                        class="result-image">

                      }@else {
                      <img src="../../../../assets/img/test-quiz/sad-result.png" alt="result emoji"
                        class="result-image">
                      }

                    </div>
                    <p class="result-message">{{getResultMessage()}}</p>
                    <button class="next-btn btn col-12" (click)="closeResult()">{{ 'quiz.close' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>


          </div>

          }
          }
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="cstm-quiz">
  <div class="quiz-container cstm-quiz ">
    <div class="container ">
      <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-6">
          <div class="quiz-box">
            <div class="question-number text-end">Question <span class="fw-bold">1</span>/10</div>

            <div class="d-flex justify-content-center ">
              <span class="question-text text-center">Q1. </span>
              <span class="question-text text-center"> What Is The Meaning Of UI UX Design?</span>

            </div>




            <div class="options-list d-flex flex-column justify-content-center  align-items-center">

              <div class="option-item     ">
                <input type="radio" name="answer" id="option1" class="option-input">
                <label for="option1" class="option-label ">User Interface Design</label>
              </div>

              <div class="option-item">
                <input type="radio" name="answer" id="option2" class="option-input">
                <label for="option2" class="option-label question-right">User Experience Design</label>
              </div>

              <div class="option-item">
                <input type="radio" name="answer" id="option3" class="option-input">
                <label for="option3" class="option-label">Both</label>
              </div>
            </div>



          </div>

          <div class="quiz-btns">
            <button type="button" class="back-btn  btn  ">Back</button>
            <button type="button" class="next-btn btn ">Next</button>
            <button type="button" class="next-btn btn   disabled  disabled-btn"> <span
                class="spinner-border spinner-border-sm " id="spinner" role="status" aria-hidden="true"></span></button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="cstm-quiz container py-5">
  <div class="row justify-content-center ">

    <div class="result-card bad-result shadow-sm">
      <div class="card-header border-bottom">
        <h2 class="fs-5 mb-0">Your Result</h2>
        <span class="fs-6"> <span class="fw-bold fs-5">8</span>/10</span>
      </div>
      <div class="image-container">
        <img src="../../../../assets/img/test-quiz/8c501db7fcb0f3a49d5bdf0f0e9ded40.png" alt="Sad emoji"
          class="result-image">
      </div>
      <p class="result-message">very good result.</p>
      <button class="next-btn btn col-12">Close</button>
    </div>
  </div>
</div> -->