<!-- Feature Instructors -->
<div class="container owl-slider ">

  <div class="aos" data-aos="fade-up">
    <owl-carousel-o [options]="customOptions" class="">
      @for (slider of sliderData; track $index) {
      <ng-template carouselSlide>
        <div class="owl-slider-cover">
          <img [src]="slider.image" [alt]="slider.title" class="img-fluid">
        </div>

      </ng-template>
      }
    </owl-carousel-o>



    <div id="carousel-custom-dots" class="owl-dots">
    </div>
  </div>
</div>


<!-- /Feature Instructors -->