<!-- Feature Instructors -->
<div class="container">
  <div class="aos" data-aos="fade-up">

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="../../../../../assets/img/blog/blog-05.jpg" alt="slider-1">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../../../../assets/img/blog/blog-05.jpg" alt="slider-2">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../../../../assets/img/blog/blog-05.jpg" alt="slider-2">
      </ng-template>
      <!-- Add more slides as needed -->
    </owl-carousel-o>
    <div id="carousel-custom-dots" class="owl-dots">
    </div>
  </div>
</div>


<!-- /Feature Instructors -->