<!-- Page Wrapper -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sell-course-head comman-space">
          <h3>ِ{{'categories.heading'| translate}}</h3>
          <p>ِ{{'categories.description'| translate}}</p>

        </div>
        <div *ngIf="isSubCategoryView" class="back-to-categories">
          <button class="btn btn-back" (click)="backToCategories()">ِ{{ 'categories.button_text'| translate}}</button>
        </div>

        <!-- Top Categories -->
        <section class="topcategory-sec">
          <div class="container">
            <div class="top-category-group">
              <div class="row" [ngClass]="{'justify-content-center': categories.length < 4}">
                <ng-container *ngIf="!isSubCategoryView">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex" *ngFor="let data of categories"
                    (click)="onCategoryClick(data)">
                    <div class="categories-item flex-fill">
                      <div class="categories-icon">
                        <img class="rounded-circle"
                          [src]="data.image || '../../../../../assets/img/universty-placeholder.png'"
                          onerror="this.src='../../../../../assets/img/universty-placeholder.png'" [alt]="data.title" />
                      </div>
                      <div class="categories-content">
                        <h3>{{ data.title }}</h3>
                      </div>
                    </div>
                  </div>
                </ng-container>


                <ng-container *ngIf="isSubCategoryView">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex" *ngFor="let subCategory of subCategories"
                    (click)="onSubCategoryClick(subCategory)">
                    <div class="categories-item flex-fill">
                      <div class="categories-icon">
                        <img class="rounded-circle"
                          [src]="subCategory.image || '../../../../../assets/img/universty-placeholder.png'"
                          onerror="this.src='../../../../../assets/img/universty-placeholder.png'"
                          [alt]="subCategory.title" />
                      </div>
                      <div class="categories-content">
                        <h3>{{ subCategory.title }}</h3>
                      </div>
                    </div>
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
        </section>
        <!-- /Top Categories -->

      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->