<!-- testimonials  -->
<section class="testimonials py-5" data-aos="fade-up">
  <div class="container text-center">
    <p class="ts-kicker">{{ kicker }}</p>
    <h2 class="ts-title mb-5">{{ title }}</h2>

    <!-- Owl Carousel -->
    <owl-carousel-o [options]="customOptionsTsSlider" class="owl-theme ts-slider">
      <ng-template carouselSlide *ngFor="let item of testimonials">
        <div class="ts-item">
          <!-- main avatar -->
          <div class="ts-avatar" *ngIf="item.main">
            <img [src]="item.main" alt="Client">
          </div>

          <p class="ts-quote">"{{ item.text }}"</p>

          <!-- floating avatars -->
          <ng-container *ngFor="let avatar of item.avatars">
            <img [src]="avatar.file" class="float-avatar" [ngClass]="avatar.position" alt="client" />
          </ng-container>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>