<code-input class="code-input" [isCodeHidden]="isCodeHidden" [codeLength]="codeLength"
  (codeCompleted)="onCodeCompleted($event)">
</code-input>



<div class="text-center my-3">
  <ng-container *ngIf="!canResend">
    <small style="color: #221d1b;"> s{{timeLeft}} {{'auth.resendIn' | translate}} </small>
  </ng-container>

  <div class="forgot">
    <button class="btn btn-link forgot-link p-0" style="color: #ff875a;" *ngIf="canResend" (click)="onResend()">
      {{'auth.resendCode' | translate}}
    </button>
  </div>

</div>