<section class="home-two-slide home-two d-flex align-items-center ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12" data-aos="fade-up">
        <div class="home-slide-face">
          <div class="home-slide-text">
            <h5>{{ 'home.homeP' | translate }}</h5>
            <h1>{{ 'home.homeTitle' | translate }}</h1>
          </div>
          <div class="banner-content">
            <form class="form" name="store" id="store" method="post">
              <div class="form-inner">
                <div class="input-group">
                  <input #searchInput type="email" class="form-control not-dark"
                    [placeholder]="'home.searchPlaceholder' | translate" />
                  <button class="btn btn-primary sub-btn" type="button" (click)="directPath(searchInput.value)">
                    {{ 'courses.search' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="trust-user-two">
            <p>{{ 'home.trustedUsers' | translate }}</p>
            <div class="rating-two">
              <span>4.4</span>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Shapes -->
    <div class="shapes">

      <img class="shapes-two" src="assets/img/bg/home-right-bottom.png" alt="">
      <img class="shapes-middle" src="assets/img/bg/home-middle.png" alt="">

    </div>
  </div>
</section>

@for (section of homeSections; track section.id) {
@switch (section.type) {
@case ('sliders') {
<app-home-slider [sliderData]="getSliderData(section.data)" [sliderTitle]="section.title"
  [sliderShortTitle]="section.short_title">
</app-home-slider>

}
@case ('courses') {
<app-home-courses [coursesData]="getCourseData(section.data)" [courseTitle]="section.title"
  [CourseShortTitle]="section.short_title">
</app-home-courses>

}
@case ('doctors') {
<app-home-instructors [instructorsData]="getDoctorData(section.data)" [instructorsTitle]="section.title"
  [instructorsShortTitle]="section.short_title">
</app-home-instructors>
}
@case ('categories') {
<app-home-categories [categoriesData]="getCategoryData(section.data)" [categoriesTitle]="section.title"
  [categoriesShortTitle]="section.short_title">
</app-home-categories>
}
@case ('banar') {
<app-home-banner [bannerData]="getBannerData(section.data)" [bannerTitle]="section.title"
  [bannerShortTitle]="section.short_title">
</app-home-banner>
}
}
}