@for (section of homeSections; track section.id) {
@switch (section.type) {
@case ('sliders') {
<app-home-slider [sliderData]="getSliderData(section.data)" [sliderTitle]="section.title"
  [sliderShortTitle]="section.short_title">
</app-home-slider>

}
@case ('courses') {
<app-home-courses [coursesData]="getCourseData(section.data)" [courseTitle]="section.title"
  [CourseShortTitle]="section.short_title">
</app-home-courses>

}
@case ('doctors') {
<app-home-instructors [instructorsData]="getDoctorData(section.data)" [instructorsTitle]="section.title"
  [instructorsShortTitle]="section.short_title">
</app-home-instructors>
}
@case ('categories') {
<app-home-categories [categoriesData]="getCategoryData(section.data)" [categoriesTitle]="section.title"
  [categoriesShortTitle]="section.short_title">
</app-home-categories>
}
@case ('banar') {
<app-home-banner [bannerData]="getBannerData(section.data)" [bannerTitle]="section.title"
  [bannerShortTitle]="section.short_title">
</app-home-banner>
}
}
}