//ar
body {
  font-family: "Cairo", serif;
}

button,
a {
  font-family: "Cairo", serif;
}
//navbar
.header-navbar-rht > li {
  padding-left: 0;
  padding-right: 20px;
}
.navbar .main-menu-wrapper {
  margin-right: 100px;
}

.users.dropdown-menu.dropdown-menu-right.show {
  transform: translateX(130px);
}

.wishes-list.dropdown-menu.dropdown-menu-right.show {
  transform: translateX(380px);
}
//home-main-section
.home-two {
  overflow: hidden !important;
}

.home-two .shapes-middle {
  position: absolute;
  left: 30rem;
  top: 18rem;
  bottom: 0;
}

.home-two .shapes-two {
  right: 74rem !important;
  top: 15rem !important;
}

.home-slide-face {
  margin-right: 74px;
}

//courses-card
.courses-doctor-img {
  margin-left: 16px;
}

.course-view {
  margin-right: auto;
  margin-left: 0;
}

.all-btn {
  margin-right: auto !important;
  margin-left: 0;
}

.course-info p {
  margin-right: 12px;
  margin-left: 0;
}

//login
.student-count i {
  margin-right: 0;
  margin-left: 17px;
}

.toggle-password {
  left: 17px;
  right: auto;
}

.back-home {
  margin-right: auto;
  margin-left: 0;
}

.login-wrapper .loginbox label {
  width: auto;
}

.loginbox .form-control[type="tel"] {
  text-align: right;
  padding-right: 36px;
}

.iti__selected-flag {
  right: -13px !important;
}

.iti__arrow {
  --iti-arrow-padding: 30px !important;
}

.dropdown-menu.country-dropdown {
  transform: translateX(100%) !important;
}
.btn-danger {
  margin-right: 10px;
}

.show-result {
  margin-right: 10px;
}

//courses-page

.btn-action-method {
  margin-right: 10px;
}

.page-breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  position: relative;
  left: 96px;
  transform: rotateY(-165deg);
}
// quiz
.option-label {
  padding-right: 50px;
}

.option-label:before {
  right: 18px;
}

.option-label:after {
  right: 22px;
}

//my courses

.sell-group-img {
  margin-left: 20px;
}

.choose-search-blk .form-group {
  margin-right: auto;
  margin-left: 0px;
}
.show-filter .search-group i-feather {
  left: 9px;
}
.choose-search-blk.show-filter .form-control {
  padding-right: 30px;
}

.cdk-overlay-pane {
  transform: translateX(40px) !important;
}

.lesson-group .cou-title span {
  float: left;
}
