//global
body {
  font-family: "Inter", sans-serif;
}
.navbar .main-menu-wrapper {
  margin-left: 100px;
}

.header-navbar-rht > li {
  padding-left: 20px !important;
  padding-right: 0;
}

// quiz
.option-label {
  padding-left: 50px;
}
.option-label:before {
  left: 18px;
}

.option-label:after {
  left: 22px;
}
//my courses
.settings-widget .cdk-overlay-pane {
  transform: translateX(-10px) !important;
}
.menu-item .menu-link {
  margin-left: 30px;
}
.menu .fa-magnifying-glass {
  margin-left: 30px;
}
// nav
// .menu {
//   margin-left: 100px;
// }.

.user-img {
  margin-left: 20px;
}
.top-info-bar::before {
  left: 0;
}
.hamburger {
  margin-left: 20px;
}
// profile
.phone-edit {
  right: 15px;
}
.name-edit {
  right: 15px;
}
.input-edit-icon {
  position: absolute;
  top: 50%;
  right: 0;
}

.phone-edit {
  top: 44px;
}
.name-edit {
  top: 10px;
}

.phone-edit {
  right: 15px;
}
.name-edit {
  right: 15px;
}
.profile-form-wrapper {
  .iti__selected-flag {
    transform: translateX(370px) !important;
  }
}
// them toggle

.theme-toggle {
  .theme-dropdown {
    right: 0 !important;
  }
}
// ======================================
// 1. Home V2
// ======================================
@media (min-width: 768px) {
  .stat-item:not(:last-child)::after {
    right: 0;
  }
}
.students {
  margin-left: auto;
}

.hero-copy {
  margin-right: auto;
}
.edu-graphics {
  place-items: center;
}
.edu-small-img {
  right: 40px;
}
.circle-shape {
  right: 125px;
}
.squiggle {
  right: 101px;
}
body.home-v2 .hero-title .scribble {
  left: -36px;
}
body.home-v2 .hero-title .em .underline-img {
  right: 0;
}
