//global
body {
  font-family: "Inter", sans-serif;
}
.navbar .main-menu-wrapper {
  margin-left: 100px;
}

.header-navbar-rht > li {
  padding-left: 20px !important;
  padding-right: 0;
}

// quiz
.option-label {
  padding-left: 50px;
}
.option-label:before {
  left: 18px;
}

.option-label:after {
  left: 22px;
}
//my courses
.cdk-overlay-pane {
  transform: translateX(-10px) !important;
}
// nav
.menu {
  margin-left: 100px;
}
.hamburger {
  margin-right: 20px;
}
// profile
.phone-edit {
  right: 15px;
}
.name-edit {
  right: 15px;
}
.input-edit-icon {
  position: absolute;
  top: 50%;
  right: 0;

  color: #6c757d;
  z-index: 2;
  cursor: pointer;
}

.input-edit-icon:hover {
  color: #000;
}

.phone-edit {
  top: 44px;
}
.name-edit {
  top: 10px;
}

.phone-edit {
  right: 15px;
}
.name-edit {
  right: 15px;
}
.profile-form-wrapper {
  .iti__selected-flag {
    transform: translateX(370px) !important;
  }
}
