//global
body {
  font-family: "Inter", sans-serif;
}
.navbar .main-menu-wrapper {
  margin-left: 100px;
}

.header-navbar-rht > li {
  padding-left: 20px !important;
  padding-right: 0;
}

// quiz
.option-label {
  padding-left: 50px;
}
.option-label:before {
  left: 18px;
}

.option-label:after {
  left: 22px;
}
//my courses
.cdk-overlay-pane {
  transform: translateX(-10px) !important;
}
