<!-- hero  -->
<section class="hero">
  <div class="overlay"></div>
  <div class="container">



    <!--  copy  text-->
    <div class="hero-copy">
      <h1 class="hero-title">
        {{ 'home_two.hero.title1' | translate }}<br>
        <span class="em"> {{ 'home_two.hero.title2' | translate }}
          <span class="hero-p">{{ 'home_two.hero.title3' | translate }}</span>
          <img class="underline-img" src="../../../assets/img/home-two/Vector 6.png" alt="">
        </span>
        <img class="scribble" src="../../../assets/img/home-two/Vector 7.png" alt="">
      </h1>
      <p class="hero-sub">{{ 'home_two.hero.subtitle' | translate }}</p>
      <a href="#" class="btn btn-pill">{{ 'home_two.hero.cta' | translate }}</a>

    </div>


    <!-- images -->
    <div class="students">
      <div class="card-round">
        <img src="../../../assets/img/home-two/student3.png" alt="Student" data-aos="fade-up">
      </div>
      <div class="card-circ">
        <img src="../../../assets/img/home-two/student4.png" alt="Student" data-aos="fade-up">
      </div>

      <div class="card-round card-mid-circ" style="background:#ffe29b;">
        <img src="../../../assets/img/home-two/student1.png" alt="Student" data-aos="fade-up">
      </div>
      <div class="card-round">
        <img src="../../../assets/img/home-two/student2.png" alt="Student" style="background:rgb(245, 195, 98);"
          data-aos="fade-up">
      </div>

    </div>

  </div>
</section>