<!-- hero  -->
<section class="hero">
  <div class="overlay"></div>
  <div class="container">



    <!--  copy  text-->
    <div class="hero-copy">
      <h1 class="hero-title">
        {{ title1 }}<br>
        <span class="em"> {{ title2 }}
          <span class="hero-p">{{ title3 }}</span>
          <img class="underline-img" src="../../../assets/img/home-two/Vector 6.png" alt="">
        </span>
        <img class="scribble" src="../../../assets/img/home-two/Vector 7.png" alt="">
      </h1>
      <p class="hero-sub">{{ subtitle }}</p>
      <a href="#" class="btn btn-pill">{{ cta }}</a>

    </div>


    <!-- images -->
    <div class="students">
      <div class="card-round" *ngIf="img3">
        <img [src]="img3" alt="Student" data-aos="fade-up">
      </div>
      <div class="card-circ" *ngIf="img4">
        <img [src]="img4" alt="Student" data-aos="fade-up">
      </div>

      <div *ngIf="img1" class="card-round card-mid-circ" style="background:#ffe29b;">
        <img [src]="img1" alt="Student" data-aos="fade-up">
      </div>
      <div *ngIf="img2" class="card-round">
        <img [src]="img2" alt="Student" style="background:rgb(245, 195, 98);" data-aos="fade-up">
      </div>

    </div>

  </div>
</section>