<section class="best-selling my-5" data-aos="fade-up">
  <div class="container-fluid">
    <div class="row align-items-center">

      <!-- left text -->
      <div class="col-lg-3 position-relative">
        <div class="bs-text">
          <h2 class="bs-title position-relative best-selling-title">{{bestSellingCourses?.short_title}} <img
              src="assets/img/home-two/left-shape.png" alt="icon" class="title-icon position-absolute">
          </h2>
          <p class="bs-sub">{{bestSellingCourses?.description}}</p>
        </div>
      </div>

      <!-- slider -->
      <!-- slider -->
      <div class="col-lg-9">
        <owl-carousel-o [options]="customOptionsCrSlider">
          <ng-template carouselSlide *ngFor="let course of bestSellingCourses?.data">
            <app-courses-card [coursesData]="[course]" [fromHome]="false" [bestSelling]="true"
              version="v2"></app-courses-card>
          </ng-template>
        </owl-carousel-o>
      </div>

    </div>
  </div>
</section>