<section class="best-selling my-5" data-aos="fade-up">
  <div class="container-fluid">
    <div class="row align-items-center">

      <!-- left text -->
      <div class="col-lg-3 position-relative">
        <div class="bs-text">
          <h2 class="bs-title">{{ 'home_two.best_selling.title' | translate }}</h2>
          <p class="bs-sub">{{ 'home_two.best_selling.subtitle' | translate }}</p>
          <img src="assets/img/home-two/shape-e.svg" alt="icon" class="title-icon position-absolute">
        </div>
      </div>

      <!-- slider -->
      <div class="col-lg-9">
        <owl-carousel-o [options]="customOptionsCrSlider">

          <ng-template carouselSlide *ngFor="let doctor of doctors">
            <div class="fc-card" data-aos="fade-up" data-aos-delay="200">
              <img [src]="doctor.image" [alt]="doctor.name">
              <div class="fc-body">
                <h5 class="fc-name">{{ doctor.name }}</h5>
                <div class="fc-rating">
                  <span class="rating-text">
                    {{ doctor.courses_count }} {{ 'home_two.best_selling.courses' | translate }}
                  </span>
                </div>
                <a href="#" class="btn btn-outline-pill">
                  {{ 'home_two.featured.book_now' | translate }}
                </a>
              </div>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>

    </div>
  </div>
</section>