@if (formName.get(controlName)?.errors && formName.get(controlName)?.touched) {

<div class="">
  <ul class="m-0">

    @if(formName.get(controlName)?.getError('required') ){
    <li class="fw-normal my-2 text-danger fs-6"> {{ 'auth.inputRequired' | translate}}</li>
    }@if (formName.get(controlName)?.getError('minlength')) {
    <li class="fw-normal my-2 text-danger fs-6">{{'auth.inputMinLength' | translate}}.</li>
    }@if (formName.get(controlName)?.getError('maxlength')) {
    <li class="fw-normal my-2 text-danger fs-6">{{'auth.inputMaxLength' | translate}}</li>
    } @if (formName.get(controlName)?.getError('email')) {
    <li class="fw-normal my-2 text-danger fs-6"> {{'auth.invalidEmail' | translate}}</li>
    }@if (formName.get(controlName)?.getError('pattern')) {
    <li class="fw-normal my-2 text-danger fs-6"> {{'auth.passwordRequirements' | translate}}
    </li>
    }
  </ul>
</div>

}@else if (formName.getError('mismatch') && formName.get(controlName)?.touched && controlName =="rePassword") {

<div class="alert alert-danger mt-1">
  <ul class="m-0">
    <li>{{'auth.passwordConfirmationIncorrect' | translate}}</li>
  </ul>
</div>

}