@if (formName.get(controlName)?.errors && formName.get(controlName)?.touched) {

<div class="mt-2">


  @if(formName.get(controlName)?.getError('required') ){
  <span class="fw-normal my-2 text-danger fs-6 mt-2"> {{ 'auth.inputRequired' | translate}}</span>
  }@if (formName.get(controlName)?.getError('minlength')) {
  <span class="fw-normal my-2 text-danger fs-6 mt-2">{{'auth.inputMinLength' | translate}}.</span>
  }@if (formName.get(controlName)?.getError('maxlength')) {
  <span class="fw-normal my-2 text-danger fs-6 mt-2">{{'auth.inputMaxLength' | translate}}</span>
  } @if (formName.get(controlName)?.getError('email')) {
  <span class="fw-normal my-2 text-danger fs-6 mt-2"> {{'auth.invalidEmail' | translate}}</span>
  }@if (formName.get(controlName)?.getError('pattern')) {
  <span class="fw-normal my-2 text-danger fs-6 mt-2"> {{'auth.passwordRequirements' | translate}}
  </span>
  }

</div>

}@else if (formName.getError('mismatch') && formName.get(controlName)?.touched && controlName =="rePassword") {

<div class="alert alert-danger mt-1">
  <ul class="m-0">
    <li>{{'auth.passwordConfirmationIncorrect' | translate}}</li>
  </ul>
</div>

}