<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
              <li class="breadcrumb-item" aria-current="page">Courses</li>
              <li class="breadcrumb-item active" aria-current="page">All Courses</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Course -->
<section class="course-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">

        <!-- Filter -->
        <div class="showing-list">
          <div class="row justify-content-between">
            <div class="col-lg-6">
              <div class="d-flex align-items-center">
                <div class="view-icons">
                  <a [routerLink]="" class="grid-view active"><i-feather name="grid"></i-feather></a>
                  <!-- <a [routerLink]="routes.page_course_list" class="list-view"><i-feather name="list"></i-feather></a> -->
                </div>
                <div class="show-result">
                  <h4>Showing {{ serialNumberArray[0] }}-{{ serialNumberArray[serialNumberArray.length - 1] }} of 50
                    results</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="show-filter add-course-info mat-style  d-flex    " style="place-self: end;">


                <div class="  me-2">
                  <div class=" search-group">
                    <i-feather name="search"></i-feather>
                    <input type="text" [(ngModel)]="searchValue" name="one" class="form-control"
                      placeholder="Search our courses">

                  </div>

                </div>
                <div class=" ">
                  <button class="btn-action-method btn " (click)="getCourses()">Search</button>
                </div>


              </div>


            </div>
          </div>
        </div>
        <!-- /Filter -->

        <div class="row">


          <app-courses-card [coursesData]="coursesData" [fromHome]="false"></app-courses-card>



          <div class="loading d-flex justify-content-center" *ngIf="isLoading">
            <div class="loader"></div>

          </div>




          <p *ngIf="!isLoading && coursesData.length === 0" class="text-center w-100">Not Found Courses</p>

        </div>



      </div>
      <div class="col-lg-3 theiaStickySidebar">
        <div class="stickybar">
          <div class="filter-clear">
            <div class="clear-filter d-flex align-items-center">
              <h4><i-feather name="filter"></i-feather>Filters</h4>
              <div class="clear-text">

                <a (click)="ClearSearch()" class="btn btn-danger">Clear </a>
              </div>
            </div>

            <!-- Search Filter -->
            <div class="card search-filter">
              <div class="card-body">
                <div class="filter-widget mb-0">
                  <div class="categories-head d-flex align-items-center">
                    <h4>Course categories</h4>
                    <i class="fas fa-angle-down"></i>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Backend (3)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      CSS (2)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Frontend (2)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      General (2)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      IT & Software (2)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Photography (2)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Programming Language (3)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Technology (2)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Search Filter -->

            <!-- Search Filter -->
            <div class="card search-filter">
              <div class="card-body">
                <div class="filter-widget mb-0">
                  <div class="categories-head d-flex align-items-center">
                    <h4>Instructors</h4>
                    <i class="fas fa-angle-down"></i>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Keny White (10)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Hinata Hyuga (5)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      John Doe (3)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                      Nicole Brown
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Search Filter -->

            <!-- Search Filter -->
            <div class="card search-filter ">
              <div class="card-body">
                <div class="filter-widget mb-0">
                  <div class="categories-head d-flex align-items-center">
                    <h4>Price</h4>
                    <i class="fas fa-angle-down"></i>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input radio-box" type="checkbox" name="select_specialist" />
                      All (18)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input radio-box" type="checkbox" name="select_specialist" />
                      Free (3)
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input radio-box" type="checkbox" name="select_specialist" />
                      Paid (15)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Search Filter -->



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Course -->