<!-- Feature Instructors -->
<div class="feature-instructors-sec">
  <div class="container">
    <div class="header-two-title text-center" data-aos="fade-up">
      <p class="tagline"> {{instructorsShortTitle}}</p>
      <h2>{{instructorsShortTitle}} </h2>

    </div>
    <!-- Featured Instructor -->
    <div class="featured-instructor-two">
      <div class="row">
        <div (click)="goToDoctorCourses(data.id)" class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up"
          *ngFor="let data of instructorsData">
          <div class="instructors-widget">
            <div class="instructors-img">
              <a href="javascript:;">
                <img class="img-fluid" [alt]="data.name" [src]="data.image ||
                '../../../../../assets/img/instractor-placeholder.png'"
                  onerror="this.src='../../../../../assets/img/instractor-placeholder.png'">
              </a>
              <!-- <div class="featured-border">
                <div class="featured-img ">
                  <img src="assets/img/category/category-{{data.id}}.svg" alt="" class="img-fluid">
                </div>
              </div> -->
            </div>
            <div class="course-details-two">
              <div class="instructors-content text-center">
                <h5><a href="javascript:;">{{data.name}}</a></h5>
                <!-- <p>{{data.job_title}}</p> -->
              </div>
              <div class="course-info"></div>
              <div class="student-count d-flex justify-content-center">
                <i class="fa-solid fa-laptop-file"></i>
                <span>{{data.courses_count}} {{'courses.courses' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Featured Instructor -->

    <!-- View all Category -->
    <div class="col-lg-12" *ngIf="showViewAllButton">
      <div class="more-details text-center" data-aos="fade-up">
        <a href="javascript:;" class="discover-btn discover-btn">
          {{'courses.viewAll' | translate}}
          <i class="fas fa-arrow-right ms-2"></i>
        </a>
      </div>
    </div>

  </div>
</div>
<!-- /Feature Instructors -->