<!-- Course -->
<section class="course-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <!-- Filter -->
        <div class="showing-list">
          <div class="row justify-content-between">
            <div class="col-lg-6">
              <div class="d-flex align-items-center">
                <div class="view-icons">
                  <a [routerLink]="" class="grid-view active"><i-feather name="grid"></i-feather></a>
                  <!-- <a [routerLink]="routes.page_course_list" class="list-view"><i-feather name="list"></i-feather></a> -->
                </div>
                <div class="show-result">
                  <h4>{{ 'courses.showing' | translate }} {{ currentlyShowing }} {{ 'courses.of' | translate }} {{
                    totalCourses }} {{ 'courses.results' | translate }}</h4>

                </div>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="show-filter add-course-info mat-style  d-flex    " style="place-self: end;">


                <div class="me-2 d-flex align-content-center align-items-center">
                  <div class=" search-group">
                    <i-feather name="search"></i-feather>
                    <input type="text" [(ngModel)]="searchValue" name="one" class="form-control"
                      [placeholder]="'courses.searchPlaceholder' | translate">

                  </div>
                  <div class=" ">
                    <button class="btn-action-method btn " (click)="searchCourses()"> {{ 'courses.search' | translate
                      }}</button>
                  </div>
                </div>



              </div>


            </div>
          </div>
        </div>
        <!-- /Filter -->

        <div class="row">
          <app-courses-card [coursesData]="coursesData" [fromHome]="false"></app-courses-card>

          <div class="loading d-flex justify-content-center" *ngIf="isLoading">
            <div class="loader"></div>
          </div>
          <p *ngIf="!isLoading && coursesData.length === 0" class="text-center w-100"> {{ 'courses.notFound' | translate
            }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Course -->