<!-- Top Categories -->
<section class="topcategory-sec">
  <div class="container">
    <div class="header-two-title text-center" data-aos="fade-up">
      <p class="tagline">{{categoriesShortTitle}}</p>
      <h2>{{categoriesTitle}}</h2>

    </div>
    <div class="top-category-group">
      <div class="row " [ngClass]="{'justify-content-center': categoriesData.length < 4}">

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex " data-aos="fade-down"
          *ngFor="let data of categoriesData">
          <div class="categories-item flex-fill">
            <div class="categories-icon">
              <img class="rounded-circle" [src]="data.image" [alt]="data.title">
            </div>
            <div class="categories-content">
              <h3>{{data.title}}</h3>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- View all Category -->
    <div class="col-lg-12">
      <div class="more-details text-center" data-aos="fade-down">
        <a class="discover-btn" href="javascript:;" target="_self" title="View all categories">
          View all Category <i class="fas fa-arrow-right ms-2"></i>
        </a>

      </div>
    </div>
    <!-- /View all Category -->
  </div>
</section>
<!-- /Top Categories -->