<!-- featured courses -->
<section class="py-5" data-aos="fade-up" *ngIf="courses?.data?.length">
  <div class="container text-center">
    <div class="featured-courses">
      <!-- title -->
      <h2 class="fc-title mb-2">{{courses?.short_title}}</h2>
      <p class="fc-sub mb-5">{{courses?.description}}</p>

      <!-- cards row -->
      <!-- <div class="row g-4 justify-content-center">
        <div class="col-11 col-md-6 col-lg-3" *ngFor="let course of courses">
          <div class="fc-card">
            <img [src]="course.image" [alt]="course.title" class="img-fluid">
            <div class="fc-body">
              <h5 class="fc-name">{{ course.title }}</h5>
              <div class="fc-rating">
                <span class="stars text-warning">★★★★★</span>
                <span class="rating-text">
                  {{ course.rate }}

                </span>
              </div>
              <a href="#" class="btn btn-outline-pill">
                {{ 'home_two.featured.book_now' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div> -->
      <app-courses-card [coursesData]="courses?.data || []" [fromHome]="true" [version]="'v2'">
      </app-courses-card>


      <div class="mt-5">
        <a routerLink="/courses" class="btn btn-light-pill">
          {{ 'home_two.featured.cta' | translate }}
        </a>
      </div>

      <!-- decoration -->
      <img src="../../../assets/img/home-two/Vector-shape.svg" class="fc-shape" alt="shape">
    </div>
  </div>
</section>