<!-- Why  us -->
<section class="why py-5 py-lg-6" data-aos="fade-up">
  <div class="container py-5">
    <div class="row g-4 align-items-center">
      <div class="col-lg-5">
        <p class="why-kicker mb-2">{{ kicker }}</p>
        <h2 class="why-title mb-3">{{ title }}</h2>

        <p class="why-text mb-4">{{ text }}</p>

        <a [routerLink]="['/courses']" routerLinkActive="router-link-active" class="btn btn-pill px-4">{{ cta }}</a>
      </div>
      <div class="col-lg-7">
        <div class="row g-4">

          <!-- Feature 1 -->
          <div class="col-md-6">
            <div class="feature-card corners tl-gold ">
              <div class="d-flex flex-column">
                <div class="feat-icon mb-3">
                  <img [src]="feature2Icon" alt="icon">
                </div>
                <h5 class="feature-title mb-3">{{ feature1Title }}</h5>
                <p class="feature-home-text mb-0">{{ feature1Text }}</p>
              </div>
            </div>
          </div>

          <!-- Feature 2 -->
          <div class="col-md-6">
            <div class="feature-card corner tl-blue ">
              <div class="d-flex flex-column">
                <div class="feat-icon mb-3">
                  <img [src]="feature1Icon" alt="icon">
                </div>
                <h5 class="feature-title mb-3">{{ feature2Title }}</h5>
                <p class="feature-home-text mb-0">{{ feature2Text }}</p>
              </div>
            </div>
          </div>

          <!-- Feature 3 -->
          <div class="col-md-6">
            <div class="feature-card corners tl-w-blue ">
              <div class="d-flex flex-column">
                <div class="feat-icon mb-3">
                  <img [src]="feature4Icon" alt="icon">
                </div>
                <h5 class="feature-title mb-3">{{ feature3Title }}</h5>
                <p class="feature-home-text mb-0">{{ feature3Text }}</p>
              </div>
            </div>
          </div>

          <!-- Feature 4 -->
          <div class="col-md-6">
            <div class="feature-card corners tl-gray ">
              <div class="d-flex flex-column">
                <div class="feat-icon mb-3">
                  <img [src]="feature3Icon" alt="icon">
                </div>
                <h5 class="feature-title mb-3">{{ feature4Title }}</h5>
                <p class="feature-home-text mb-0">{{ feature4Text }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>