// src/styles.scss
@use "@angular/material" as mat;
@use "sass:map";

// Third-party imports
@import "bootstrap/scss/bootstrap";
@import "ngx-bootstrap/datepicker/bs-datepicker";

// Include the common styles for Angular Material
@include mat.core();

// Define the palettes for your theme
$dreams-lms-primary: mat.define-palette(mat.$indigo-palette);
$dreams-lms-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$dreams-lms-warn: mat.define-palette(mat.$red-palette);

// Create the theme object
$dreams-lms-theme: mat.define-light-theme(
  (
    color: (
      primary: $dreams-lms-primary,
      accent: $dreams-lms-accent,
      warn: $dreams-lms-warn,
    ),
  )
);

// Include theme styles for core and each component
@include mat.all-component-themes($dreams-lms-theme);

// Custom styles
.hide-dropdown {
  display: none;
}

.show-dropdown {
  display: block;
}

// Import your custom components last
@import "assets/components/all";

// my custom styles
.valid-phone .form-control[type="tel"] {
  border: 1px solid green !important;
}

.invalid-phone .form-control[type="tel"] {
  border: 1px solid red !important;
}

.iti {
  width: 100%;
}

.iti__input {
  width: 100%;
}
.loginbox .form-control[type="tel"] {
  padding-left: 50px !important;
}

.iti__selected-flag {
  top: 30%;
  left: 20px;
  position: absolute;
  cursor: pointer;
  width: 40px !important;
  height: 30px !important;
}

.iti__country-list {
  max-height: 200px;
}
.dropdown-menu.country-dropdown {
  width: 50% !important;
}

.iti__country-list {
  font-size: 14px !important;
}
.iti__country {
  padding: 5px 10px;
  cursor: pointer;
}

.iti__dial-code {
  color: #555;
  font-weight: bold;
}

.iti__flag {
  margin-right: 25px;
}

.responsive-img {
  width: 100%;
  height: auto;
  max-height: 500px;
  min-height: 400px;
  object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .responsive-img {
    max-height: 400px;
  }
}

@media (max-width: 480px) {
  .responsive-img {
    max-height: 300px;
    object-position: right;
  }
}
