<!-- Course -->

<div class="row " [ngClass]="fromHome && coursesData.length < 4 ? 'justify-content-center' : ''">



  <div class="    d-flex" *ngFor="let data of coursesData; let i = index"
    [ngClass]="fromHome ? 'col-lg-3 col-md-4' : 'col-lg-4 col-md-6'">

    <div class="course-box course-design d-flex  " [routerLink]="['/course-details', data.id]" style="cursor: pointer;">
      <div class="product">


        <div class="product-img">
          <a [routerLink]="">
            <div class="product-img-courses">
              <img class="img-fluid" alt="" [src]="data.image">
            </div>

          </a>
          <!-- [ngClass]="{'combo': data.idle === 'FREE'}" -->


          @if (data.price) {
          <div class="price">
            <!-- <h3>{{data.doctor}}</h3> -->
            <h3>{{data.price}} </h3>
            <!-- <span>200</span> -->
          </div>

          }



        </div>
        <div class="product-content">
          <div class="course-group d-flex">
            <div class="course-group-img d-flex">
              <div class="courses-doctor-img rounded-circle">
                <img [src]="data.doctor_image || './assets/img/course/doctor.png'"
                  onerror="this.src='./assets/img/course/doctor.png'" alt="img-doctor" class="img-fluid">
              </div>
              <div class="course-name">
                <h4><a>{{data.doctor}}</a></h4>
                <p>Instractor</p>
              </div>
            </div>
            <div class="course-share d-flex align-items-center justify-content-center">
              <!-- <a href="javascript:void(0)"><i class="fa-heart" (click)="toggleClass(data)"
                          [ngClass]="data.active ? 'fa-solid' : 'fa-regular'"></i></a> -->
            </div>
          </div>
          <h3 class="title"><a>{{data.title}}</a></h3>
          <div class="course-info d-flex align-items-center">
            <div class="rating-img d-flex align-items-center">
              <img src="assets/img/icon/icon-01.svg" alt="icon-01">
              <p>13+ Lesson</p>
            </div>
            <div class="course-view d-flex align-items-center">
              <img src="assets/img/icon/icon-02.svg" alt="icon-02">
              <p>10hr 30min

              </p>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center" [ngClass]="{'center-btn': data.rate == 0}">
            <div class="rating">




              @if (data.rate != 0) {
              @for (item of [1,2,3,4,5].slice(0, data.rate); track $index) {
              <i class="fas fa-star filled me-1 "></i>


              }




              @if (data.rate % 1 !== 0) {
              <i class="fa-solid filled fa-star-half-stroke me-1"></i>

              }


              <span class="d-inline-block average-rating"><span>{{data.rate}}</span></span>

              }


            </div>
            <div class="all-btn   all-category ">
              <a class="btn cst-course-btn btn-primary">BUY NOW</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>





</div>

<!-- /Course -->