<!-- Course v2 -->
<div *ngIf="version === 'v1'" class="course-card-cover">
  <div class="row  " [ngClass]="fromHome && coursesData.length < 4 ? 'justify-content-center' : ''">
    <div class="    d-flex" *ngFor="let data of coursesData; let i = index"
      [ngClass]="fromHome ? 'col-lg-3 col-md-4  col-sm-6' : 'col-lg-3 col-md-4  col-sm-6'">

      <div class="course-box course-design d-flex" (click)="goToCourse(data)" style="cursor: pointer;">
        <div class="product">
          <div class="product-img">
            <a href="javascript:;">
              <div class="product-img-courses">
                <img class="img-fluid" alt="img-courses"
                  [src]="data.image || '../../../../assets/img/course-placeholder.png'"
                  onerror="this.src='../../../../assets/img/course-placeholder.png'">
              </div>
            </a>
            <!-- [ngClass]="{'combo': data.idle === 'FREE'}" -->
            @if (data.price) {
            <div class="price">
              <!-- <h3>{{data.doctor}}</h3> -->
              <h3>{{ data.price | currency:'GBP':'symbol' }}</h3>
              <!-- <span>200</span> -->
            </div>
            }
          </div>
          <div class="product-content">
            <h3 class="title"><a href="javascript:;">{{data.title}}</a></h3>
            <div class="course-group d-flex justify-content-between">
              <div class="course-group-img d-flex ">
                <!-- <div class="courses-doctor-img rounded-circle">
                  <img [src]="data.doctor_image || './assets/img/course/doctor.png'"
                    onerror="this.src='./assets/img/course/doctor.png'" alt="img-doctor" class="img-fluid">
                </div> -->
                <div class="course-name align-content-center">
                  <!-- <h4><a href="javascript:;">{{data.doctor}}</a></h4> -->
                  <p>{{data.doctor}}</p>
                </div>


              </div>
              <div class="course-share d-flex align-items-center justify-content-center">

                <div class="rating" [ngClass]="{'d-none': data.client_status === 'accepted'}">
                  @if (data.rate !== '0.0') {
                  <!-- Display actual rating -->
                  <div class="d-flex">
                    <div *ngFor="let item of [1, 2, 3, 4, 5].slice(0, getFloorValue(data.rate))">
                      <i class="fas fa-star filled me-1"></i>
                    </div>
                    @if (data.rate % 1 !== 0) {
                    <div>
                      <i class="fa-solid filled fa-star-half-stroke me-1 "></i>
                    </div>

                    }
                    <span class="d-inline-block average-rating"><span style="margin-inline: 5px;">{{ data.rate
                        }}</span></span>
                  </div>
                  } @else {

                  <!-- <div>
                    <div *ngFor="let item of [1, 2, 3, 4]">
                      <i class="fas fa-star filled me-1"></i>
                    </div>
                    <i class="fa-solid filled fa-star-half-stroke me-1"></i>
                    <span class="d-inline-block average-rating"><span>4.5</span></span>
                  </div> -->
                  }
                </div>
              </div>
            </div>

            <div class="course-info d-flex align-items-center">

            </div>

            <div class="footer-course-card"
              [ngClass]="{'d-flex justify-content-between align-items-center': data.client_status !== 'accepted'}">


              <div>

              </div>


              @if (data.client_status === 'accepted') {
              <div class="course-card-progress-bar">
                <span class="progress-text">{{data.client_complete_percentage }}%</span>
                <div class="progress-container">
                  <div class="progress-fill" [style.width.%]="data.client_complete_percentage ">

                  </div>
                </div>
              </div>




              }@else {
              <div class="all-btn   all-category col-12 ">
                <!-- <button [disabled]="data.client_status === 'pending'"
                [ngClass]="{'pending-btn': data.client_status === 'pending'}"
                (click)="buyCourse($event, data.id , data.way_to_by_course_in_app , data.client_status)"
                class="btn cst-course-btn btn-primary"> {{ data.client_status === 'pending' ? ('courses.pending' |
                translate) : ('courses.buyNow' | translate)
                }}</button> -->


                <button class="btn cst-course-btn btn-primary w-100" (click)="goToCourse(data)">
                  {{"courses.showCourse" | translate}}
                </button>

              </div>

              }

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- /Course -->

<!-- Course v2 -->
<div class="card-v2" *ngIf="version === 'v2'">
  <div class="row " [ngClass]="coursesData.length < 4 ? 'justify-content-center' : ''">
    <div class=" '" *ngFor="let data of coursesData; let i = index"
      [ngClass]="bestSelling ? 'col-12' : 'col-lg-3 col-md-4 col-sm-6  mb-4'">

      <div class="fc-card d-flex flex-column" (click)="goToCourse(data)" style="cursor: pointer;">
        <img class="img-fluid" [src]="data.image || '../../../../assets/img/course-placeholder.png'" alt="img-course"
          onerror="this.src='../../../../assets/img/course-placeholder.png'">

        <div class="fc-body justify-content-between ">
          <h5 class="fc-name ">{{ data.title }}</h5>
          <div class="d-flex justify-content-between">
            <p class="fc-doctor mb-2" *ngIf="data.doctor">{{ data.doctor }}</p>
            <!-- <div class="fc-rating mb-2" *ngIf="data.rate && data.rate !== '0.0'"> -->
            <div class="fc-rating mb-2">
              <div class="d-flex align-items-center justify-content-center">
                <ng-container *ngFor="let star of getFullStars(data.rate)">
                  <i class="fas fa-star text-warning me-1"></i>
                </ng-container>

                <i *ngIf="hasHalfStar(data.rate)" class="fa-solid fa-star-half-stroke text-warning me-1"></i>

                <ng-container *ngFor="let empty of getEmptyStars(data.rate)">
                  <i class="far fa-star text-warning me-1"></i>
                </ng-container>

                <span class="rating-text ms-1">({{ data.rate || '0.0' }})</span>
              </div>
            </div>


          </div>




          <div class="course-card-progress-bar" *ngIf="data.client_status === 'accepted'">
            <span class="progress-text">{{data.client_complete_percentage }}%</span>
            <div class="progress-container">
              <div class="progress-fill" [style.width.%]="data.client_complete_percentage ">

              </div>
            </div>
          </div>









          <div class="mt-3">
            <button class="btn btn-outline-pill w-100" *ngIf="data.client_status !== 'accepted'">
              {{ "courses.showCourse" | translate }}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /Course v2 -->