<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="settings-widget">
        <div class="settings-inner-blk p-0">
          <div class="sell-course-head comman-space">
            <h3>{{ 'myCourses.title' | translate }}</h3>
            <p>{{ 'myCourses.description' | translate }}</p>
          </div>
          <div class="comman-space pb-0">
            <div class="instruct-search-blk">
              <div class="show-filter choose-search-blk">
                <form action="#">
                  <div class="row gx-2 align-items-center">
                    <div class="col-md-6 col-item">

                    </div>
                    <div class="col-md-6 col-lg-6 col-item">
                      <div class="form-group select-form mb-0">
                        <mat-select class="form-select select" [(ngModel)]="selectedValue" name="selectedValue"
                          (selectionChange)="getMyCourses(selectedValue)">
                          <mat-option value="all courses">{{ 'myCourses.allCourses' | translate }}</mat-option>
                          <mat-option value="accepted">{{ 'myCourses.ongoing' | translate }}</mat-option>
                          <mat-option value="rejected">{{ 'myCourses.rejected' | translate }}</mat-option>
                          <mat-option value="pending">{{ 'myCourses.pending' | translate }}</mat-option>
                          <mat-option value="completed">{{ 'myCourses.completed' | translate }}</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="settings-tickets-blk course-instruct-blk">
              <div *ngIf="myCourses.length === 0" class="text-center py-5">
                <p>{{ 'myCourses.noCourses' | translate }}</p>
              </div>
              <table *ngIf="myCourses.length > 0" class="table mb-2 d-none d-lg-table">
                <thead>
                  <tr>
                    <th>{{ 'myCourses.coursesHeader' | translate }}</th>
                    <th>{{ 'myCourses.doctorHeader' | translate }}</th>
                    <th>{{ 'myCourses.statusHeader' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="myCourse_card" *ngFor="let data of myCourses">
                    <td (click)="navigateToCourseDetails(data.id)">
                      <div class="sell-table-group d-flex align-items-center">
                        <div class="sell-group-img">
                          <a>
                            <img [src]="data.image" class="custom-img" alt="course_img"
                              onerror="this.src='../../../../assets/img/course-placeholder.png'">
                          </a>
                        </div>
                        <div class="sell-tabel-info">
                          <p><a class="card-courses-title">{{ data.title }}</a></p>
                          <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                            <div class="rating-img d-flex align-items-center">
                              <img src="assets/img/icon/icon-01.svg" alt="">
                              <p>{{ data.client_complete_percentage }} {{ 'myCourses.completePercentage' | translate }}
                              </p>
                            </div>
                            <div class="course-view d-flex align-items-center">
                              <img src="assets/img/icon/timer-start.svg" alt="">
                              <p>{{ 'myCourses.timePlaceholder' | translate }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>{{ data.doctor }}</td>
                    <td>
                      <span class="badge" [ngClass]="{
                        'info-low': data.client_status === 'ongoing',
                        'info-inter': data.client_status === 'rejected',
                        'info-medium': data.client_status === 'pending',
                        'info-completed': data.complete_status === 'completed'
                      }">
                        {{ data.complete_status === 'completed' ? ('myCourses.completed' | translate) :
                        (data.client_status === 'ongoing' ? ('myCourses.ongoing' | translate) :
                        (data.client_status === 'rejected' ? ('myCourses.rejected' | translate) :
                        ('myCourses.pending' | translate))) }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="myCourses.length > 0" class="d-lg-none">
                <div class="card mb-3" *ngFor="let data of myCourses" (click)="navigateToCourseDetails(data.id)">
                  <div class="row g-0 d-flex justify-content-center align-items-center">
                    <div class="col-4">
                      <img [src]="data.image" class="custom-img" alt="Course Image"
                        onerror="this.src='../../../../assets/img/course-placeholder.png'">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h5 class="card-courses-title mb-2">
                          {{ data.title }}
                        </h5>
                        <p class="card-text text-muted mb-1">{{ 'myCourses.doctorLabel' | translate }}: {{ data.doctor
                          }}</p>
                        <p class="card-text mb-1">
                          <small class="text-success">{{ data.client_complete_percentage }} {{
                            'myCourses.completePercentage' | translate }}</small>
                        </p>
                        <p class="card-text mb-1">
                          <small class="text-muted">{{ 'myCourses.statusLabel' | translate }}:
                            <span class="badge text-white" [ngClass]="{
                              'info-low': data.client_status === 'ongoing',
                              'info-inter': data.client_status === 'rejected',
                              'info-medium': data.client_status === 'pending',
                              'info-completed': data.complete_status === 'completed'
                            }">
                              {{ data.complete_status === 'completed' ? ('myCourses.completed' | translate) :
                              (data.client_status === 'ongoing' ? ('myCourses.ongoing' | translate) :
                              (data.client_status === 'rejected' ? ('myCourses.rejected' | translate) :
                              ('myCourses.pending' | translate))) }}
                            </span>
                          </small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>