<!-- Main Wrapper -->
<div class="main-wrapper instructor-profile-cst">




  <!-- Breadcrumb -->
  <div class=" instructor-bg-blk py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="profile-info-blk">
            <a href="javascript:;" class="profile-info-img" style="overflow: hidden;">
              <img [src]="doctor.image" (error)="doctor.image = './assets/img/course/doctor.png'" alt="Doctor Image"
                class="img-fluid">


            </a>
            <h4><a href="javascript:;" style="cursor: text;">{{doctor.name}}</a></h4>

            <p class="subs-title">{{ 'instructor.courses_number' | translate: { count: doctor.courses_count } }}
            </p>

            <ul class="list-unstyled inline-inline profile-info-social">
              <li *ngIf="doctor.facebook" class="list-inline-item">
                <a [href]="doctor.facebook">
                  <i class="fa-brands fa-facebook mx-1 fs-5"></i>
                </a>
              </li>
              <li *ngIf="doctor.telegram" class="list-inline-item">
                <a [href]="doctor.telegram">
                  <i class="fa-brands fa-telegram mx-1 fs-5"></i>
                </a>
              </li>
              <li *ngIf="doctor.phone_number" class="list-inline-item">
                <a [href]="doctor.phone_number">
                  <i class="fa-solid fa-phone-volume mx-1 fs-5"></i>
                </a>
              </li>
              <li *ngIf="doctor.whatsapp" class="list-inline-item">
                <a [href]="doctor.whatsapp">
                  <i class="fa-brands fa-whatsapp mx-1 fs-5"></i>
                </a>
              </li>
            </ul>


            <!-- booking Btn  -->
            <!-- <button *ngIf="authService.auth()" class="btn-outline-primary mt-3 " [disabled]="isBooked"
              (click)="onBookPrivateAppointment()">
              {{ 'instructor.book_private' | translate }}
            </button> -->



          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->

  <!-- Course Content -->
  <section class="page-content course-sec doctor-profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <!-- Overview -->
          <div class="card overview-sec" *ngIf="doctor.bio; ">
            <div class="card-body">
              <h5 class="subs-title">{{ 'instructor.bio_title'| translate }}</h5>
              <p>
                {{ doctor.bio }}
              </p>
              <!-- <ng-template #noBio>
                <p class="text-muted fst-italic">
                  {{ 'instructor.no_bio'| translate }}
                </p>
              </ng-template> -->


            </div>
          </div>
          <!-- /Overview -->



          <!-- Overview -->
          <div class="card overview-sec" *ngIf="doctor.experience; ">
            <div class="card-body">
              <h5 class="subs-title"> {{ 'instructor.experience_title'| translate }} </h5>
              <p>
                {{ doctor.experience }}
              </p>
              <!-- <ng-template #noExperience>
                <p class="text-muted fst-italic">
                  {{ 'instructor.no_experience'| translate }} </p>
              </ng-template> -->




            </div>
          </div>
          <!-- /Overview -->








        </div>

        <div class="col-lg-4">

          <!-- Right Sidebar Tags Label -->
          <div class="card overview-sec" *ngIf="doctor.certifications; ">
            <div class="card-body overview-sec-body">
              <h5 class="subs-title"> {{ 'instructor.certifications_title' | translate }} </h5>
              <p>
                {{ doctor.certifications }}
              </p>
              <!-- <ng-template #noCerts>
                <p class="text-muted fst-italic">
                  {{ 'instructor.no_certifications' | translate }}
                </p>
              </ng-template> -->

            </div>
          </div>
          <!-- /Right Sidebar Tags Label -->





        </div>


        <!-- Courses Content -->
        <div class=" education-sec">
          <div class="card-body pb-0">
            <h5 class="subs-title"> {{ 'instructor.courses_title' | translate }} </h5>
            <div class="row">
              <ng-container *ngIf="courses.length > 0;  else noCourses">
                <app-courses-card [coursesData]="courses" [fromHome]="false" />
              </ng-container>

              <div class="loading d-flex justify-content-center" *ngIf="isLoading">
                <div class="loader"></div>

              </div>
              <ng-template #noCourses>
                <div class="col-12 text-center text-muted py-4">
                  <p class="fst-italic">
                    {{ 'instructor.no_courses' | translate}}
                  </p>
                </div>
              </ng-template>
            </div>

          </div>
        </div>
        <!-- /Courses Content -->
      </div>
    </div>
  </section>
  <!-- /Pricing Plan -->



</div>